<main class="container">
    <div class="row mt-3 py-3 bg-white">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="">Shopbee</a></li>
                <li class="breadcrumb-item"><a href="">Laptop</a></li>
                <li class="breadcrumb-item" aria-current="page">{{ product?.category?.name }}</li>
            </ol>
        </nav>
    </div>
    <div class="row py-3 mt-3 bg-white">
        <div class="col-md-4">
            <img [ngSrc]="heroUrl || imageUrls?.at(0) || constant.defaultHeroImageUrl"
                 priority
                 width="450"
                 height="450"
                 alt="product-hero"
                 class="figure-img img-fluid rounded border border-1 p-2"/>
            <div class="d-flex gap-2 overflow-auto">
                @for (image of imageUrls; track $index) {
                    <img [src]="image || constant.defaultThumbnail"
                         width="82"
                         height="82"
                         alt="product-thumbnails"
                         class="product-thumbnail rounded border border-1"
                         (mouseover)="onHoverThumbnail($index)"/>
                }
            </div>
        </div>
        <div class="col-md-8">
            <h3 class="fw-lighter">
                {{ product?.name }}
            </h3>
            <div class="d-flex gap-3">
                <div class="rating">
                    <span class="fs-5 me-1">4.7</span>
                    <span>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-half"></i>
                    </span>
                </div>
                <div class="border-end"></div>
                <div class="sold">
                    <span class="fs-5">1k+ {{ 'sold' | translate }}</span>
                </div>
            </div>
            <div class="price d-flex align-items-center gap-3 p-3 mt-2">
                <span class="sale-price fs-4"><del>{{ product?.basePrice | currency:'VND' }}</del></span>
                <span class="fs-2 fw-bold">{{ product?.salePrice | currency:'VND' }}</span>
                <span class="discount-percentage badge">{{ discount }}% {{ "discounted" | translate }}</span>
            </div>
            <div class="row mt-3 p-3">
                <div class="col-md-3">
                    <label for="quantity" class="text-muted">{{ "Quantity" | translate }}</label>
                </div>
                <div class="col-md-9 d-flex gap-1 align-items-center">
                    <button class="btn quantity-input-btn"
                            [disabled]="quantity <= 0"
                            (click)="decreaseQuantity()">
                        <i class="bi bi-dash-lg"></i>
                    </button>
                    <div>
                        <input id="quantity"
                               type="number"
                               [min]="0"
                               [max]="product?.stockQuantity || 0"
                               [(ngModel)]="quantity"
                               (change)="validateQuantity()"
                               class="form-control" value="1"/>
                    </div>
                    <button class="btn quantity-input-btn"
                            (click)="increaseQuantity()"
                            [disabled]="quantity >= product!.stockQuantity">
                        <i class="bi bi-plus-lg"></i>
                    </button>
                    <span class="text-muted">{{ product?.stockQuantity }} {{ "available" | translate }}</span>
                </div>
            </div>
            <div class="d-flex align-items-center mt-auto">
                <button class="add-to-cart-btn btn btn-lg me-3 rounded-0">
                    <i class="bi bi-cart-plus me-2"></i
                    ><span class="fs-6">{{ "Add to cart" | translate }}</span>
                </button>
                <button class="buy-now-btn btn btn-lg rounded-0">
                    <i class="bi bi-bag-check me-2"></i><span class="fs-6">{{ "Buy now" | translate }}</span>
                </button>
            </div>
        </div>
    </div>

    <div class="row py-3 mt-3 bg-white">
        <div class="product-detail-title col mx-3 p-3">
            <span class="fs-3 fw-lighter">{{ "PRODUCT DETAILS" | translate }}</span>
        </div>
        <div class="col-12 mx-3 mt-3 text-muted">
            <div class="row">
                <div class="row mb-3">
                    <div class="col-2">
                        <span>{{ "Category" | translate }}</span>
                    </div>
                    <div class="col">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item">
                                    <a href="#">Shopbee</a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="">Laptop</a>
                                </li>
                                <li class="breadcrumb-item">{{ product?.category?.name }}</li>
                            </ol>
                        </nav>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-2">
                        <span>{{ "Brand" | translate }}</span>
                    </div>
                    <div class="col">
                        <span>{{ product?.model?.brand?.name }}</span>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-2">
                        <span>{{ "Model" | translate }}</span>
                    </div>
                    <div class="col">
                        <span>{{ product?.model?.name }}</span>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-2">
                        <span>{{ "Stock" | translate }}</span>
                    </div>
                    <div class="col">
                        <span>{{ product?.stockQuantity }}</span>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-2">
                        <span>{{ "Color" | translate }}</span>
                    </div>
                    <div class="col">
                        <span>{{ product?.color }}</span>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-2">
                        <span>{{ "Storage" | translate }}</span>
                    </div>
                    <div class="col">
                        <span>{{ product?.storageType }} {{ product?.storageCapacity }} GB</span>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-2">
                        <span>CPU</span>
                    </div>
                    <div class="col">
                        <span>{{ product?.processor }}</span>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-2">
                        <span>RAM</span>
                    </div>
                    <div class="col">
                        <span>{{ product?.ram }}GB</span>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-2">
                        <span>{{ "Monitor" | translate }}</span>
                    </div>
                    <div class="col">
                        <span>{{ product?.screenSize }}</span>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-2">
                        <span>{{ "OS" | translate }}</span>
                    </div>
                    <div class="col">
                        <span>{{ product?.os }}</span>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-2">
                        <span>{{ "Weight" | translate }}</span>
                    </div>
                    <div class="col">
                        <span>{{ product?.weight }}Kg</span>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-2">
                        <span>{{ "Capacity" | translate }}</span>
                    </div>
                    <div class="col">
                        <span>{{ product?.batteryCapacity }}Wh</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="product-detail-title col mx-3 p-3">
            <span class="fs-3 fw-lighter">{{ "DESCRIPTION" | translate }}</span>
        </div>
        <div class="col-12 mx-3 mt-3 text-muted">
            <p>Thông số kỹ thuật:</p>
            <p>Chip: Intel Core i7 11800H 2.3Ghz-24Mb</p>
            <p>Card đồ họa: NVIDIA RTX3050 TI 4GB DDR6</p>

            <p>RAM: 8GB</p>
            <p>SSD: 512GB + 32GB SSD</p>
            <p>Màn hình: 16.1" FHD</p>
            <p>Hệ điều hành: Windows 11 Home</p>
            <p>Màu sắc/ Chất liệu: Black</p>

            <p>🛠THÔNG TIN BẢO HÀNH🛠</p>
            <p>
                1. Thời gian bảo hành Tất cả các dòng laptop HP đều có thời gian bảo
                hành chính hãng 1 năm tính từ ngày khách hàng cuối mua hàng. Khách hàng
                khi mua máy yêu cầu cửa hàng cung cấp hóa đơn VAT có số Serial Number để
                giữ làm phiếu bảo hành.
            </p>
            <p>2. Các Trung tâm bảo hành chính hãng HP tại Việt Nam.</p>
            <p>📌 Hà Nội: 74 Cửa Bắc, Ba Đình, Hà Nội</p>
            <p>📌 Đà Nẵng: 60 Đường Nguyễn Du, Quận Hải Châu, Đà Nẵng</p>
        </div>
    </div>

    <div class="row py-3 mt-3 bg-white">
        <div class="product-detail-title col mx-3 p-3">
            <span class="fs-3 fw-lighter">{{ "REVIEWS" | translate }}</span>
        </div>
        <div class="col-12 mx-3 mt-3 text-muted">
            <div class="rating d-flex gap-3 p-3">
                <div class="text-center fs-4">
                    <div>5 / 5</div>
                    <div>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                    </div>
                </div>
                <div class="d-flex align-items-center justify-content-around gap-3">
                    <button class="active review-filter-btn btn rounded-0">{{ "All" | translate }}</button>
                    <button class="review-filter-btn btn rounded-0">5 {{ "star" | translate }} (1)</button>
                    <button class="review-filter-btn btn rounded-0">4 {{ "star" | translate }} (1)</button>
                    <button class="review-filter-btn btn rounded-0">3 {{ "star" | translate }} (13)</button>
                    <button class="review-filter-btn btn rounded-0">2 {{ "star" | translate }} (1)</button>
                    <button class="review-filter-btn btn rounded-0">1 {{ "star" | translate }} (1)</button>
                    <button class="review-filter-btn btn rounded-0">{{ "Latest" | translate }}</button>
                    <button class="review-filter-btn btn rounded-0">{{ "Oldest" | translate }}</button>
                </div>
            </div>
            <div class="reviews">
                <div class="d-flex flex-shrink-0 gap-3">
                    <div>
                        <img
                                class="rounded-circle"
                                src="https://placehold.co/80x80"
                                alt="user-avatar"
                                width="48"
                                height="48"
                        />
                    </div>
                    <div class="review-details">
                        <div class="fs-5 fw-bold">user1234</div>
                        <div class="fs-6 rating">
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                        </div>
                        <div class="mb-3">
                            <span class="text-muted fs-6">9:25 PM 21-09-2024</span>
                        </div>
                        <div class="mb-3">
                            <p>
                                Rất đáng tiền, cấu hình mạnh trong tầm giá. Hơi tiếc là không
                                được tặng quà: không được tặng thêm túi chống sốc hay chuột gì
                                cả Shop tư vấn nhiệt tình!!! 5*
                            </p>
                        </div>
                        <div class="helpful">
                            <button class="border-0 bg-transparent">
                                <i class="bi bi-hand-thumbs-up me-2"></i><span>123</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row py-3 mt-3 bg-white">
        <div class="product-detail-title col mx-3 p-3">
            <span class="fs-3 fw-lighter">{{ "YOU MAY ALSO LIKE" | translate }}</span>
        </div>
        <app-product-list></app-product-list>
    </div>
</main>
