<nav class="navbar sticky-top navbar-expand-lg ">
    <div class="container flex-wrap">
        <div class="w-100 text-end">
            @if (!authService.authenticated) {
                <a href="#" class="log-in" (click)="authService.login()">Log in</a>
                <span class="vertical-line"></span>
                <a href="#" class="sign-up" (click)="authService.register()">Sign up</a>
            } @else {
                <div class="dropdown">
                    <a class="user-btn"
                       role="button"
                       data-bs-toggle="dropdown"
                       aria-expanded="false">
                        <img src="assets/images/default-avatar.svg"
                             class="avatar"
                             alt="User Avatar">
                        {{ authService.username }}
                    </a>

                    <ul class="dropdown-menu dropdown-menu-end">
                        <li>
                            <a class="dropdown-item">
                                <fa-icon [icon]="faUser"/>
                                Profile
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a class="dropdown-item" (click)="authService.logout()">
                                <fa-icon [icon]="faLogout"/>
                                Log out
                            </a>
                        </li>
                    </ul>
                </div>
            }
        </div>
        <a class="navbar-brand d-flex align-items-center" [routerLink]="['']">
            <img src="assets/images/logo.svg"
                 width="48"
                 height="52"
                 class="d-inline-block align-text-top"
                 alt="MyStore Logo">
            Storee
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-around" id="navbarSupportedContent">
            <form class="d-flex search-form" role="search">
                <input class="search-input form-control"
                       type="search"
                       placeholder="Search for products, brands, ..."
                       aria-label="Search">
            </form>
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item position-relative">
                    <a class="nav-link" [routerLink]="['cart']">
                        <img src="assets/images/cart.svg" width="40" alt="Cart">
                    </a>
                    <span class="badge">99+</span>
                </li>
            </ul>
        </div>
    </div>
</nav>