.navbar {
  background: linear-gradient(var(--primary-brand) 0%, var(--light-primary-brand) 100%);
}

.navbar-brand,
.nav-link {
  color: var(--white);
}

.navbar-brand {
  font-size: 1.85rem;
}

.log-in, .sign-up {
  color: var(--white);
}

.vertical-line {
  margin: 0 .75rem;
  border-right: 1px solid var(--light-gray);
}

.user-btn {
  color: var(--white);
}

.avatar {
  display: inline-block;
  width: 30px;
}

.dropdown-item:active{
  background-color: var(--light-primary-brand);
}

.badge {
  position: absolute;
  top: 0;
  left: 100%;
  transform: translateX(-50%);
  border: 2px solid var(--white);
  border-radius: 50rem;
  color: var(--primary-brand);
  background-color: var(--white);
}

.search-form {
  width: max(32rem, 90%);
  border-radius: 5px;
}

.search-form:focus-within {
  outline: 2px solid var(--black);
}

.search-input {
  margin: .2rem;
  border: none;
  border-radius: 5px;
  line-height: 2;
}

.search-input:focus {
  box-shadow: none;
  outline: none;
}