<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container">
        <a class="navbar-brand" [routerLink]="['']">MyStore</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <form class="search-bar">
                <div class="input-wrapper">
                    <input type="text"
                           class="search-input"
                           placeholder="Type here to search for products, brands,..."
                           aria-label="Search">
                    <button type="submit" class="search-button">
                        <fa-icon [icon]="faMagnifyingGlass" class="search-icon"></fa-icon>
                    </button>
                </div>
            </form>

            <div class="header-cart">
                <button class="cart-button" aria-label="View Cart">
                    <fa-icon [icon]="faCartShopping" class="cart-icon"/>
                    <span class="cart-count">3</span>
                </button>
            </div>

            @if (authService.authenticated) {
                <div class="profile-avatar">
                    <img src="assets/images/avatar-placeholder.png"
                         alt="Profile Image"
                         class="profile-image">
                    <span class="profile-name">{{ authService.username }}</span>
                </div>
                <div>
                    <button class="btn btn-sm btn-outline-secondary"
                            (click)="authService.logout()">Logout
                    </button>
                </div>
            } @else {
                <div>
                    <button class="btn btn-sm btn-outline-secondary"
                            (click)="authService.login()">Log in
                    </button>
                </div>
            }
        </div>
    </div>
</nav>