.toolbar {
  padding: 1rem 0;

  .search-bar {
    position: relative;

    .search-form {
      text-indent: 5.5rem;
      line-height: 3;
    }

    .search-btn {
      position: absolute;
      top: 50%;
      left: .5rem;
      width: 5rem;
      font-size: .5rem;
      transform: translateY(-50%);

      .search-icon {
        font-size: 1.5rem;
      }
    }
  }

  .sort-btn {
    margin-left: 1rem;
  }
}

.users-table {
  margin: auto 0;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 .5rem 1rem rgba(183, 185, 190, .8);

  .avatar-cell {
    max-width: 3rem;

    .avatar {
      margin: auto;
      width: 3rem;
      background-color: var(--black);
      border-radius: 50%;
    }
  }
}