<div class="container">
    <div class="toolbar d-flex align-items-center">
        <div class="search-bar flex-grow-1">
            <input type="text"
                   [formControl]="keyword"
                   placeholder="Search user"
                   class="form-control search-form">
            <div class="search-btn d-flex justify-content-center align-items-center">
                @if (isFetching) {
                    <div class="spinner-border text-dark" role="status">
                    </div>
                } @else {
                    <fa-icon class="search-icon" [icon]="faSearch"/>
                }
            </div>
        </div>
        <div class="dropdown">
            <button class="sort-btn btn btn-outline-secondary dropdown-toggle"
                    type="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false">
                Sort by: Default
            </button>
            <ul class="dropdown-menu dropdown-menu-lg-end">
                <li>
                    <button class="dropdown-item" href="#">First Name</button>
                </li>
                <li>
                    <button class="dropdown-item" href="#">Last Name</button>
                </li>
                <li>
                    <button class="dropdown-item" href="#">Email</button>
                </li>
            </ul>
        </div>
    </div>
    <div class="users-table">
        <table class="table table-borderless table-striped table-hover align-middle">
            <thead>
            <tr>
                <th></th>
                <th scope="col">Username</th>
                <th scope="col">Email</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
            </tr>
            </thead>
            <tbody>
                @for (user of filteredUsers; track $index) {
                    <tr>
                        <td class="avatar-cell">
                            <img src="{{user.avatar}}"
                                 class="avatar"
                                 alt="User Avatar">
                        </td>
                        <td>{{ user.username }}</td>
                        <td>{{ user.email }}</td>
                        <td>
                            <input appEditable
                                   type="text"
                                   value="{{ user.firstName }}">
                        </td>
                        <td>{{ user.lastName }}</td>
                    </tr>
                }
            </tbody>
            <tfoot>
            <tr>
                <td colspan="7" class="text-center">
                    @if (filteredUsers.length > 0) {
                        Showing {{ filteredUsers.length }} of {{ users.length }}
                    } @else {
                        No result.
                    }
                </td>
            </tr>
            </tfoot>
        </table>
    </div>
</div>