<div class="container">
    <div class="toolbar d-flex align-items-center">
        <div class="search-bar flex-grow-1">
            <input type="text"
                   [formControl]="keyword"
                   placeholder="Search user"
                   class="form-control search-form">
            <div class="search-btn d-flex justify-content-center align-items-center">
                @if (isFetching) {
                    <app-spinner/>
                } @else {
                    <fa-icon class="search-icon" [icon]="faSearch"/>
                }
            </div>
        </div>
        <div class="d-flex gap-1">
            <div class="dropdown">
                <button class="sort-btn btn  "
                        type="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false">
                    1 - 10
                    <fa-icon [icon]="faAngleDown"/>
                </button>
                <ul class="dropdown-menu dropdown-menu-lg-end">
                    <li>
                        <button class="dropdown-item" href="#">10 per page</button>
                    </li>
                    <li>
                        <button class="dropdown-item" href="#">20 per page</button>
                    </li>
                    <li>
                        <button class="dropdown-item" href="#">50 per page</button>
                    </li>
                </ul>
            </div>
            <a class="btn">
                <fa-icon [icon]="faPrev"/>
            </a>
            <a class="btn">
                <fa-icon [icon]="faNext"/>
            </a>
        </div>
    </div>
    <div class="users-table">
        <table class="table table-borderless table-striped table-hover align-middle">
            <thead>
            <tr>
                <th></th>
                <th scope="col">Username</th>
                <th scope="col">Email</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
            </tr>
            </thead>
            <tbody>
                @for (user of (users$ | async)?.items; track $index) {
                    <tr>
                        <td class="avatar-cell">
                            <img src="{{user.avatar}}"
                                 class="avatar"
                                 alt="User Avatar">
                        </td>
                        <td>{{ user.username }}</td>
                        <td>{{ user.email }}</td>
                        <td>
                            <input appEditable
                                   type="text"
                                   value="{{ user.firstName }}">
                        </td>
                        <td>{{ user.lastName }}</td>
                    </tr>
                }
            </tbody>
            <tfoot>
            <tr>
                <td colspan="7" class="text-center">
                    @if (isFetching) {
                        <app-spinner/>
                    }
                </td>
            </tr>
            </tfoot>
        </table>
    </div>
</div>