<nav class="navbar sticky-top">
  <div class="container-fluid">
    <button class="navbar-toggler"
            type="button"
            data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasNavbar"
            aria-controls="offcanvasNavbar"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <span class="navbar-brand mb-0 h1">Shopbee Admin</span>

    <div class="nav-item dropdown">
      <button class="nav-link dropdown-toggle"
              data-bs-toggle="dropdown"
              aria-expanded="false">
        <strong> {{ "WELCOME" | translate }} {{ authService.username }}</strong>
      </button>
      <ul class="dropdown-menu dropdown-menu-lg-end">
        <li>
          <button routerLink="/" class="dropdown-item">
            <i class="bi bi-house"></i> {{ "WEB_APP" | translate }}
          </button>
        </li>
        <li>
          <button class="dropdown-item" (click)="logout()">
            <i class="bi bi-box-arrow-right"></i> {{ "LOGOUT" | translate }}
          </button>
        </li>
      </ul>
    </div>
    <aside class="sidebar-menu offcanvas offcanvas-start"
           tabindex="-1"
           id="offcanvasNavbar"
           aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header justify-content-between">
        <button type="button"
                class="btn-close"
                data-bs-dismiss="offcanvas"
                aria-label="Close">
        </button>
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Shopbee Admin</h5>
      </div>
      <div class="sidebar-items list-group list-group-flush">
        @if (authService.hasAccess([Role.ADMIN])) {
          <a routerLink="dashboard"
             routerLinkActive="active"
             class="list-group-item list-group-item-action">
            <div class="icon">
              <i class="bi bi-house"></i>
            </div>
            {{ "DASHBOARD" | translate }}
          </a>
          <a routerLink="users"
             routerLinkActive="active"
             class="list-group-item list-group-item-action">
            <div class="icon">
              <i class="bi bi-people"></i>
            </div>
            {{ "USERS" | translate }}
          </a>
        }
        <a routerLink="brands"
           routerLinkActive="active"
           class="list-group-item list-group-item-action">
          <div class="icon">
            <i class="bi bi-amazon"></i>
          </div>
          {{ "BRANDS" | translate }}
        </a>
        <a routerLink="models"
           routerLinkActive="active"
           class="list-group-item list-group-item-action">
          <div class="icon">
            <i class="bi bi-box-seam"></i>
          </div>
          {{ "MODELS" | translate }}
        </a>
        <a routerLink="categories"
           routerLinkActive="active"
           class="list-group-item list-group-item-action">
          <div class="icon">
            <i class="bi bi-tags"></i>
          </div>
          {{ "CATEGORIES" | translate }}
        </a>
        <a routerLink="products"
           routerLinkActive="active"
           class="list-group-item list-group-item-action">
          <div class="icon">
            <i class="bi bi-box"></i>
          </div>
          {{ "PRODUCTS" | translate }}
        </a>
        <a routerLink="orders"
           routerLinkActive="active"
           class="list-group-item list-group-item-action">
          <div class="icon">
            <i class="bi bi-bag"></i>
          </div>
          {{ "ORDERS" | translate }}
        </a>
        @if (authService.hasAccess([Role.ADMIN])) {
          <a routerLink="transactions"
             routerLinkActive="active"
             class="list-group-item list-group-item-action">
            <div class="icon">
              <i class="bi bi-receipt"></i>
            </div>
            {{ "TRANSACTION" | translate }}
          </a>
        }
      </div>
      <div class="sidebar-footer text-center">Ver 1.0.0</div>
    </aside>
  </div>
</nav>
