.toolbar {
  padding: 1rem 0;
}

.search-bar {
  position: relative;
}

.search-btn {
  position: absolute;
  top: 50%;
  right: .5rem;
  width: 5rem;
  line-height: 2;
  transform: translateY(-50%);
}

.search-form {
  line-height: 3;
}

.users-table {
  margin: auto 0;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 .5rem 1rem rgba(183, 185, 190, .8);
}

.avatar-cell {
  max-width: 3rem;
}

.avatar {
  margin: auto;
  width: 3rem;
  background-color: var(--black);
  border-radius: 50%;
}

.sort-btn {
  margin-left: 1rem;
}