.product-card {
  transition: transform 0.3s, box-shadow 0.3s;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
}

.product-card:hover {
  border: 1px solid var(--color-primary-button);
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.product-card .card-image {
  position: relative;
  overflow: hidden;
}

.product-card .card-image img {
  width: 100%;
  height: auto;
  transition: transform 0.3s;
}

.product-card:hover .card-image img {
  transform: scale(1.1);
}

.product-card .card-body,
.product-card .card-footer {
  padding: .55rem;
}

.product-card .card-title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  overflow: hidden;
  height: 3em;
  line-height: 1.5;
  font-size: .875rem;
  font-weight: lighter;
}

.product-card .product-rating {
  color: rgb(255, 188, 27);
}

.product-card .product-rating fa-icon {
  font-size: .45rem;
  margin-right: 5px;
}

.product-card .product-price {
  font-size: 1.15rem;
  color: var(--color-primary);
}

.product-price del {
  color: rgb(191, 191, 191);
}

.product-card .btn-primary {
  color: white;
  border: none;
  transition: background-color 0.3s;
}

.product-card .btn-primary:focus {
  box-shadow: none;
}

.product-card .card-footer {
  background: var(--color-text-light);
  border: none;
}