<div class="card product-card">
    <div class="card-image">
        <img src="assets/images/product-01__01.jpg" class="card-img-top" alt="Product Image">
    </div>
    <div class="card-body">
        <h5 class="card-title">
            GIAY NAM SNEAKER VAI DEP GIAY NAM SNEAKER VAI DEP GIAY NAM SNEAKER VAI DEP GIAY NAM SNEAKER VAI DEP</h5>
        <div class="d-flex justify-content-between align-items-center">
            <span class="product-price">$29.99</span>
            <span class="product-price"><del>$29.99</del></span>
        </div>
        <div class="product-rating">
            <fa-icon [icon]="faStar"></fa-icon>
            <fa-icon [icon]="faStar"></fa-icon>
            <fa-icon [icon]="faStar"></fa-icon>
            <fa-icon [icon]="faStar"></fa-icon>
            <fa-icon [icon]="faStarHalfAlt"></fa-icon>
        </div>
    </div>
    <div class="card-footer d-flex justify-content-between">
        <a href="#" class="btn btn-outline-primary btn-sm">Add to Cart</a>
        <a href="#" class="btn btn-primary btn-sm">Buy Now</a>
    </div>
</div>
