.tag {
  cursor: pointer;

  &:hover {
    border-color: var(--purple-6) !important;
  }

  &.active {
    border-color: var(--purple-9) !important;
    color: var(--purple-9) !important;
  }
}

.more-btn {
  background: var(--purple-contrast);

  &:hover {
    border-color: var(--purple-2) !important;
    background: var(--purple-2) !important;
    color: var(--purple-10) !important;
  }
}

.input-group {
  .btn-outline-primary {
    border-color: var(--purple-8) !important;
    color: var(--purple-9) !important;
    transition: all .2s ease;

    &:hover {
      background-color: var(--purple-8) !important;
      color: var(--purple-contrast) !important;
    }

    &:active {
      background-color: var(--purple-9) !important;
      color: var(--purple-contrast) !important;
    }
  }
}

.form-check {
  .form-check-input {
    &:checked {
      border-color: var(--purple-9) !important;
      background-color: var(--purple-9) !important;
    }
  }
}

.btn-outline-secondary {
  border: none !important;
  background-color: var(--gray-contrast) !important;
  color: var(--gray-9) !important;
  transition: all .2s ease;

  &:hover {
    background-color: var(--gray-3) !important;
  }

  &:active {
    background-color: var(--gray-6) !important;
  }
}
