<div class="container my-4">
    <div class="row mb-3 p-3 bg-white rounded shadow-sm">
        <div class="col">
            <h2 class="fs-2 fw-light text-muted">
                {{ isCheckout ? ("Checkout" | translate) : ("My Cart" | translate) }}
            </h2>
        </div>
    </div>

    <div class="row g-3">
        @if (loading) {
            <!-- Skeleton Loader Section -->
            <div class="col-lg-8">
                <div class="bg-white p-3 rounded shadow-sm">
                    @for (i of Array(3); track $index) {
                        <div class="row mb-3 py-3 border-bottom align-items-center">
                            <div class="col-2 col-md-1 text-center">
                                <div class="skeleton skeleton-thumbnail"></div>
                            </div>
                            <div class="col-6 col-md-5">
                                <div class="skeleton skeleton-text skeleton-title"></div>
                                <div class="skeleton skeleton-text skeleton-description"></div>
                            </div>
                            <div class="col-4 col-md-3 d-flex align-items-center gap-2">
                                <div class="skeleton skeleton-button"></div>
                                <div class="skeleton skeleton-input"></div>
                                <div class="skeleton skeleton-button"></div>
                            </div>
                            <div class="col-12 col-md-3 d-flex align-items-center justify-content-between mt-2 mt-md-0">
                                <div class="skeleton skeleton-price"></div>
                                <div class="skeleton skeleton-icon"></div>
                            </div>
                        </div>
                    }
                </div>
            </div>

            <div class="col-lg-4">
                <div class="bg-white p-3 rounded shadow-sm">
                    <h5 class="fs-5 fw-light text-muted">{{ "Order Summary" | translate }}</h5>
                    <div class="skeleton skeleton-text skeleton-summary"></div>
                    <hr/>
                    <div class="skeleton skeleton-text skeleton-summary"></div>
                    <hr/>
                    <div class="skeleton skeleton-text skeleton-summary"></div>
                    <hr/>
                    <div class="skeleton skeleton-button skeleton-checkout"></div>
                </div>
            </div>
        } @else if (isCheckout) {
            <!-- Checkout Items Section (Read-only) -->
            <div class="col-lg-8">
                <div class="bg-white p-3 rounded shadow-sm">
                    @for (item of cartItems; track item.id) {
                        <div class="row mb-3 py-3 border-bottom align-items-center">
                            <div class="col-2 col-md-1 text-center">
                                <img [src]="getImage(item)"
                                     width="64"
                                     [alt]="getProduct(item)?.name"
                                     class="img-fluid rounded">
                            </div>
                            <div class="col-6 col-md-5">
                                <h5 class="fs-5 fw-normal text-dark text-truncate">{{ getProduct(item)?.name }}</h5>
                                <p class="text-muted small description-truncate">
                                    <del>{{ getProduct(item)?.basePrice | currency:"VND" }}</del>
                                </p>
                            </div>
                            <div class="col-4 col-md-3 d-flex align-items-center justify-content-center">
                            <span class="text-muted fs-6">{{ item.quantity }}
                                x {{ getProduct(item)?.salePrice | currency:'VND' }}</span>
                            </div>
                            <div class="col-12 col-md-3 d-flex align-items-center justify-content-end mt-2 mt-md-0">
                                <span class="text-muted fs-6">{{ getAmount(item) | currency:'VND' }}</span>
                            </div>
                        </div>
                    }
                </div>

                <!-- Shipping Address Section -->
                <div class="bg-white p-3 mt-3 rounded shadow-sm">
                    <h5 class="fs-5 fw-light text-muted">{{ "Choose Shipping Address" | translate }}</h5>

                    <!-- Existing Addresses -->
                    @for (address of userAddresses; track $index) {
                        <div class="form-check mt-3">
                            <input [id]="$index"
                                   class="form-check-input"
                                   type="radio"
                                   name="shippingAddress"
                                   [value]="address"
                                   [(ngModel)]="selectedAddress">
                            <label [for]="$index"
                                   class="form-check-label text-muted">
                                {{ address }}
                            </label>
                        </div>
                    }

                    <!-- Option to Enter New Address -->
                    <div class="form-check mt-3">
                        <input id="new-address"
                               class="form-check-input"
                               type="radio"
                               name="shippingAddress"
                               [value]="newAddress"
                               [(ngModel)]="selectedAddress"
                               (change)="clearNewAddress()">
                        <label for="new-address" class="form-check-label text-muted">
                            {{ "Enter a new address" | translate }}
                        </label>
                    </div>

                    <!-- New Address Input Field -->
                    @if (selectedAddress === newAddress) {
                        <textarea class="form-control mt-2"
                                  [(ngModel)]="newAddress"
                                  placeholder="{{ 'Enter your address' | translate }}"></textarea>
                    }
                </div>

                <!-- Payment Method Section -->
                <div class="bg-white p-3 mt-3 rounded shadow-sm">
                    <h5 class="fs-5 fw-light text-muted">{{ "Choose Payment Method" | translate }}</h5>
                    <div class="form-check mt-3">
                        <input class="form-check-input" type="radio" name="paymentMethod" id="cash" value="cash"
                               [(ngModel)]="selectedPaymentMethod">
                        <label class="form-check-label text-muted" for="cash">
                            {{ "Cash on Delivery" | translate }}
                        </label>
                    </div>
                    <div class="form-check mt-2">
                        <input class="form-check-input" type="radio" name="paymentMethod" id="banking" value="banking"
                               [(ngModel)]="selectedPaymentMethod">
                        <label class="form-check-label text-muted" for="banking">
                            {{ "Bank Transfer" | translate }}
                        </label>
                    </div>
                </div>
            </div>

            <!-- Order Summary Section -->
            <div class="col-lg-4">
                <div class="bg-white p-3 rounded shadow-sm">
                    <h5 class="fs-5 fw-light text-muted">{{ "Order Summary" | translate }}</h5>
                    <div class="d-flex justify-content-between mt-3">
                        <span class="fw-light text-muted">{{ 'Total Price' | translate }}:</span>
                        <span class="fs-6">{{ totalBasePrice() | currency:"VND" }}</span>
                    </div>
                    <hr/>
                    <div class="d-flex justify-content-between">
                        <span class="fw-light text-muted">{{ 'Total Discounted Price' | translate }}:</span>
                        <span class="fs-6">{{ totalDiscountedPrice | currency:"VND" }}</span>
                    </div>
                    <div class="d-flex justify-content-between">
                        <span class="fw-light text-muted">{{ 'Discount' | translate }}:</span>
                        <span class="fs-6">{{ discountedPercent | percent }}</span>
                    </div>
                    <hr/>
                    <div class="d-flex justify-content-between">
                        <span class="fw-light text-muted">{{ 'Amount' | translate }}:</span>
                        <span class="amount">{{ totalAmount | currency:"VND" }}</span>
                    </div>
                    <hr/>
                    <button class="btn checkout-btn mt-3 w-100" (click)="placeOrder()">
                        {{ 'Place Order' | translate }}
                    </button>
                </div>
            </div>
        } @else if (cartItems.length > 0) {
            <!-- Cart Items Section -->
            <div class="col-lg-8">
                <div class="bg-white p-3 rounded shadow-sm">
                    @for (item of cartItems; track $index) {
                        <div class="row mb-3 py-3 border-bottom align-items-center">
                            <div class="col-2 col-md-1 text-center">
                                <img [src]="getImage(item)"
                                     width="64"
                                     alt="{{ products.get(item.productSlug) }}"
                                     class="img-fluid rounded">
                            </div>
                            <div class="col-6 col-md-5">
                                <h5 class="fs-5 fw-normal text-dark text-truncate"
                                    [routerLink]="['/may-tinh-xach-tay',getProduct(item)?.slug]">
                                    {{ getProduct(item)?.name }}
                                </h5>
                                <p class="text-muted small description-truncate">
                                    <del>{{ getProduct(item)?.basePrice | currency:'VND' }}</del>
                                </p>
                            </div>
                            <div class="col-4 col-md-3 d-flex align-items-center gap-2">
                                <button class="btn quantity-input-btn"
                                        (click)="decreaseQuantity(item)"
                                        [disabled]="item.quantity <= 1">
                                    <i class="bi bi-dash-lg"></i>
                                </button>
                                <input type="number" class="form-control text-center w-50"
                                       [(ngModel)]="item.quantity"
                                       (change)="updateQuantity(item)">
                                <button class="btn quantity-input-btn" (click)="increaseQuantity(item)"
                                        [disabled]="item.quantity >= stock(item)">
                                    <i class="bi bi-plus-lg"></i>
                                </button>
                            </div>
                            <div class="col-12 col-md-3 d-flex align-items-center justify-content-between mt-2 mt-md-0">
                                <span class="text-muted fs-6">{{ getProduct(item)?.salePrice | currency:'VND' }}</span>
                                <button class="btn btn-link text-danger p-0" (click)="removeFromCart(item)">
                                    <i class="bi bi-trash"></i>
                                </button>
                            </div>
                        </div>
                    }
                </div>
            </div>

            <!-- Order Summary Section -->
            <div class="col-lg-4">
                <div class="bg-white p-3 rounded shadow-sm">
                    <h5 class="fs-5 fw-light text-muted">{{ "Order Summary" | translate }}</h5>
                    <div class="d-flex justify-content-between mt-3">
                        <span class="fw-light text-muted">{{ 'Total Price' | translate }}:</span>
                        <span class="fs-6">{{ totalBasePrice() | currency:"VND" }}</span>
                    </div>
                    <hr/>
                    <div class="d-flex justify-content-between">
                        <span class="fw-light text-muted">{{ 'Total Discounted Price' | translate }}:</span>
                        <span class="fs-6">{{ totalDiscountedPrice | currency:"VND" }}</span>
                    </div>
                    <div class="d-flex justify-content-between">
                        <span class="fw-light text-muted">{{ 'Discount' | translate }}:</span>
                        <span class="fs-6">{{ discountedPercent | percent }}</span>
                    </div>
                    <hr/>
                    <div class="d-flex justify-content-between">
                        <span class="fw-light text-muted">{{ 'Amount' | translate }}:</span>
                        <span class="amount">{{ totalAmount | currency:"VND" }}</span>
                    </div>
                    <hr/>
                    <button class="btn checkout-btn mt-3 w-100" (click)="proceedToCheckout()">
                        {{ 'Proceed to Checkout' | translate }}
                    </button>
                </div>
            </div>
        } @else {
            <!-- Empty Cart Section -->
            <div class="text-center bg-white p-5 rounded shadow-sm">
                <h2 class="fs-2 fw-light text-muted">{{ 'Your cart is empty' | translate }}</h2>
                <a routerLink="/" class="btn mt-4 buy-now">{{ 'Shop Now' | translate }}</a>
            </div>
        }
    </div>
</div>
