// Color Variables
$purple-main: var(--purple-9);
$purple-dark: var(--purple-10);
$purple-light: var(--purple-3);
$purple-contrast: var(--purple-contrast);
$gray-bg: var(--gray-1);

// Utility Classes
.btn-primary {
  color: $purple-contrast;
  background: $purple-main;
  line-height: 2;
  transition: background 0.3s ease, color 0.3s ease;

  &:hover {
    color: $purple-light;
  }

  &:active {
    background: $purple-dark;
  }
}

.quantity-input-btn {
  color: $purple-main;
  border: 1px solid $purple-main;
  transition: background 0.3s ease, border-color 0.3s ease;

  &:disabled {
    background: $purple-light;
    border-color: $gray-bg;
  }
}

// Component Styles
.amount {
  color: $purple-main;
  font-weight: bold;
  font-size: 1.2rem;
}

.checkout-btn {
  @extend .btn-primary;
  width: 100%;
}

.buy-now {
  @extend .btn-primary;
}

.product-thumbnail {
  width: 64px;
  height: auto;
}

.text-muted-light {
  color: var(--gray-5); // Replace with a lighter shade of muted color if needed
}

.text-truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.description-truncate {
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Limits to 2 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}


// Media Queries
@media (max-width: 768px) {
  .checkout-btn,
  .buy-now {
    width: 100%;
    font-size: 1rem;
  }
}

// Skeleton Styles
.skeleton {
  background-color: #e0e0e0;
  border-radius: 4px;
  animation: pulse 1.5s infinite ease-in-out;
}

.skeleton-thumbnail {
  width: 64px;
  height: 64px;
  border-radius: 8px;
}

.skeleton-text {
  height: 12px;
  margin-bottom: 8px;
  border-radius: 4px;
}

.skeleton-title {
  width: 70%;
  height: 16px;
  margin-bottom: 10px;
}

.skeleton-description {
  width: 90%;
  height: 12px;
}

.skeleton-button {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

.skeleton-input {
  width: 50px;
  height: 36px;
  border-radius: 4px;
}

.skeleton-price {
  width: 60px;
  height: 20px;
  border-radius: 4px;
}

.skeleton-icon {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.skeleton-summary {
  width: 100%;
  height: 20px;
  margin-bottom: 8px;
}

.skeleton-checkout {
  width: 100%;
  height: 40px;
  border-radius: 4px;
}

// Pulse Animation
@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
