.navbar {
  background: linear-gradient(to bottom, var(--purple-8), var(--purple-9));

  .navbar-brand {
    color: var(--purple-contrast);
  }

  .search-form {
    width: 65dvw;

    &:focus,
    &:active {
      border-color: var(--purple-9);
      box-shadow: 0 0 0 0.25rem var(--purple-9);
    }
  }

  .search-btn {
    transition: all 0.1s ease;

    &:hover {
      background: var(--purple-3);
    }

    &:active {
      background-color: var(--purple-6);
    }
  }

  .dropdown-item {
    &:hover {
      background: var(--purple-6);
    }

    &:focus,
    &:active {
      background: var(--purple-9);
    }
  }
}
