.navbar {
  background: linear-gradient(to bottom, var(--purple-8), var(--purple-9));

  .navbar-brand {
    color: var(--purple-contrast);
  }

  .search-form {
    width: 65dvw;


  }

  .search-btn {
    background: var(--purple-contrast);
    transition: all 0.1s ease;

    &:hover {
      background: var(--purple-6);
    }

    &:active {
      background-color: var(--purple-9);
    }
  }

  .dropdown-item {
    &:hover {
      background: var(--purple-6);
    }

    &:focus,
    &:active {
      background: var(--purple-9);
    }
  }
}
