<div class="container-fluid p-3">

  <section class="overview shadow-sm p-3">
    <h3 class="fw-light mb-3">{{ "DASHBOARD_OVERVIEW" | translate }}</h3>
    <div class="row">
      <div class="col-lg-3 col-6">
        <div class="small-box d-block shadow-sm mb-3 position-relative">
          <div class="p-2">
            <h3>{{ totalCompletedOrderLoaded ? totalCompletedOrders : ("COMPUTING"|translate) }}</h3>
            <p>{{ "COMPLETED_ORDER" | translate }}</p>
          </div>
          <div class="icon position-absolute end-0 top-0 me-3">
            <i class="bi bi-bag"></i>
          </div>
          <a routerLink="/admin/orders" class="small-box-footer">
            <span class="me-2">{{ "ORDER_MANAGEMENT" | translate }}</span>
            <i class="bi bi-box-arrow-up-right"></i>
          </a>
        </div>
      </div>

      <div class="col-lg-3 col-6">
        <div class="small-box d-block shadow-sm mb-3 position-relative">
          <div class="p-2">
            <h3>{{ totalActiveProductLoaded ? totalActiveProducts : ("COMPUTING"|translate) }}</h3>
            <p>{{ "ACTIVE_PRODUCT" | translate }}</p>
          </div>
          <div class="icon position-absolute end-0 top-0 me-3">
            <i class="bi bi-box2"></i>
          </div>
          <a routerLink="/admin/products" class="small-box-footer">
            <span class="me-2">{{ "PRODUCT_MANAGEMENT" | translate }}</span>
            <i class="bi bi-box-arrow-up-right"></i>
          </a>
        </div>
      </div>

      <div class="col-lg-3 col-6">
        <div class="small-box d-block shadow-sm mb-3 position-relative">
          <div class="p-2">
            <h3>{{ totalActiveUserLoaded ? totalUsers : ("COMPUTING"|translate) }}</h3>
            <p>{{ "USERS" | translate }}</p>
          </div>
          <div class="icon position-absolute end-0 top-0 me-3">
            <i class="bi bi-people"></i>
          </div>
          <a routerLink="/admin/users" class="small-box-footer">
            <span class="me-2">{{ "USER_MANAGEMENT" | translate }}</span>
            <i class="bi bi-box-arrow-up-right"></i>
          </a>
        </div>
      </div>

      <div class="col-lg-3 col-6">
        <div class="small-box d-block shadow-sm mb-3 position-relative">
          <div class="p-2">
            <h3>{{ totalTransactionLoaded ? totalTransactions : ("COMPUTING"|translate) }}</h3>
            <p>{{ "TRANSACTION_COMPLETED" | translate }}</p>
          </div>
          <div class="icon position-absolute end-0 top-0 me-3">
            <i class="bi bi-currency-dollar"></i>
          </div>
          <a routerLink="/admin/transactions" class="small-box-footer">
            <span class="me-2">{{ "TRANSACTIONS_MANAGEMENT" | translate }}</span>
            <i class="bi bi-box-arrow-up-right"></i>
          </a>
        </div>
      </div>
    </div>
  </section>

  <div class="charts-grid">
    <!-- Revenue Chart -->
    <div class="chart-card shadow-sm">
      <h3 class="fs-3 fw-light mb-3">{{ "REVENUE_CHART" | translate }}</h3>
      <div class="row">
        <div class="col">
          <button class="btn toggle-chart-type-btn px-3"
                  (click)="toggleChartType()">
            <i class="bi"
               [ngClass]="salesType==='bar'?'bi-bar-chart':'bi-graph-up'"></i>
          </button>
        </div>
        <div class="col">
          <div class="d-flex align-items-center gap-2">
            <select class="form-select" aria-label="Periods" [(ngModel)]="selectedPeriod">
              <option selected disabled>{{ "CHOOSE_PERIODS"|translate }}</option>
              <option value="monthly">{{ "MONTHLY"|translate }}</option>
              <option value="quarterly">{{ "QUARTERLY"|translate }}</option>
              <option value="weekly">{{ "WEEKLY"|translate }}</option>
              <option value="daily">{{ "DAILY"|translate }}</option>
            </select>
            <select class="form-select" aria-label="Years" [(ngModel)]="thisYear">
              <option selected disabled>{{ "CHOOSE_YEAR"|translate }}</option>
              @for (i of Array(10); track $index) {
                <option [value]="currentYear-$index">
                  {{ currentYear - $index }}
                </option>
              }
            </select>
            <span>&dash;</span>
            <select class="form-select" aria-label="Years" [(ngModel)]="thatYear">
              <option selected disabled>{{ "CHOOSE_YEAR"|translate }}</option>
              @for (i of Array(10); track $index) {
                <option [value]="currentYear-$index">
                  {{ currentYear - $index }}
                </option>
              }
            </select>
            <button class="btn toggle-chart-type-btn px-3"
                    (click)="refreshChart()">
              <i class="bi bi-arrow-clockwise"></i>
            </button>
          </div>
        </div>
      </div>
      <canvas baseChart
              [data]="salesData"
              [type]="salesType"
              [options]="salesOptions">
      </canvas>
    </div>

    <!-- Product stats -->
    <div class="chart-card shadow-sm">
      <h3 class="fs-3 fw-light mb-3">{{ "PRODUCT_STATS" | translate }}</h3>
      <div class="d-flex gap-3">
        <div>
          <select class="form-select" [(ngModel)]="productStatType">
            <option value="by-brand">{{ "BRANDS" | translate }}</option>
            <option value="by-model">{{ "MODELS" | translate }}</option>
            <option value="by-category">{{ "CATEGORIES" | translate }}</option>
            <option value="by-status">{{ "STATUS" | translate }}</option>
          </select>
        </div>
        <button class="btn toggle-chart-type-btn px-3" (click)="getProductStat()">
          <i class="bi bi-arrow-clockwise"></i>
        </button>
      </div>
      <div class="mt-3 overflow-y-auto h-100">
        @if (!productStatLoaded) {
          <app-table-skeleton [colCount]="2" [rowCount]="5"/>
        } @else {
          <table class="table table-hover">
            <thead class="sticky-top bg-white z-1">
              @if (productStatType === 'by-brand') {
                <th>{{ "BRANDS" | translate }}</th>
              } @else if (productStatType === 'by-model') {
                <th>{{ "MODELS" | translate }}</th>
              } @else if (productStatType === 'by-category') {
                <th>{{ "CATEGORIES" | translate }}</th>
              } @else {
                <th>{{ "STATUS" | translate }}</th>
              }
            <th>{{ "TOTAL_QUANTITY" | translate }}</th>
            </thead>
            <tbody>
              @if (productStatType === 'by-brand') {
                @for (row of Object.entries(productStat?.totalProductsByBrand ?? []); track $index) {
                  <tr>
                    <td>{{ row[0] }}</td>
                    <td>{{ row[1] }}</td>
                  </tr>
                }
              } @else if (productStatType === 'by-model') {
                @for (row of Object.entries(productStat?.totalProductsByModel ?? []); track $index) {
                  <tr>
                    <td>{{ row[0] }}</td>
                    <td>{{ row[1] }}</td>
                  </tr>
                }
              } @else if (productStatType === 'by-category') {
                @for (row of Object.entries(productStat?.totalProductsByCategory ?? []); track $index) {
                  <tr>
                    <td>{{ row[0] }}</td>
                    <td>{{ row[1] }}</td>
                  </tr>
                }
              } @else {
                <tr>
                  <td>{{ "ACTIVE_PRODUCT" | translate }}</td>
                  <td>{{ productStat?.totalActiveProducts ?? 0 }}</td>
                </tr>
                <tr>
                  <td>{{ "INACTIVE_PRODUCT" | translate }}</td>
                  <td>{{ (productStat?.totalProducts ?? 0) - (productStat?.totalActiveProducts ?? 0) }}</td>
                </tr>
              }
            </tbody>
          </table>
        }
      </div>
    </div>

    <!-- User stats -->
    <div class="chart-card shadow-sm">
      <h3 class="fs-3 fw-light mb-3">{{ "USER_STATS" | translate }}</h3>
      <div class="d-flex gap-3">
        <button class="btn toggle-chart-type-btn px-3" (click)="getTotalActiveUsers()">
          <i class="bi bi-arrow-clockwise"></i>
        </button>
      </div>
      <div class="mt-3 overflow-y-auto h-100">
        @if (!totalActiveUserLoaded) {
          <app-table-skeleton [colCount]="2" [rowCount]="2"/>
        } @else {
          <table class="table table-hover">
            <thead class="sticky-top bg-white">
            <th>{{ "STATUS" | translate }}</th>
            <th>{{ "TOTAL" | translate }}</th>
            </thead>
            <tbody>
            <tr>
              <td>{{ "ACTIVE"|translate }}</td>
              <td>{{ totalActiveUsers }}</td>
            </tr>
            <tr>
              <td>{{ "DISABLED" | translate }}</td>
              <td>{{ totalUsers - totalActiveUsers }}</td>
            </tr>
            </tbody>
          </table>
        }
      </div>
    </div>
  </div>
</div>

