<div class="product-page container">
    <div class="row">
        <div class="col-md-5 product-images">
            <picture>
                <img [src]="heroImage"
                     alt="Product Image"
                     class="img-fluid">
            </picture>
            <div class="thumbnails d-flex">
                @for (thumbnail of images; track $index) {

                    <img [src]="thumbnail"
                         alt="Product Image"
                         class="thumbnail-img"
                         [class.selected]="selectedIndex === $index"
                         (mouseover)="changeHeroImage(thumbnail, $index)">

                }
            </div>
            <div class="favourite">
            </div>
        </div>

        <div class="col-md-7 product-details">
            <h3 class="roboto-light">
                Giầy CV Classic 1970s Cổ Thấp - Cổ Cao R1:1 Cao Cấp [ Full Box + Tag ] - Snerker Converse Nam Nữ
                Giầy CV Classic 1970s Cổ Thấp - Cổ Cao R1:1 Cao Cấp [ Full Box + Tag ] - Snerker Converse Nam Nữ
            </h3>
            <div class="d-flex align-items-center">
                <a href="#" class="product-rating">
                    <div class="rating-avg">4.8</div>
                    <div class="rating-star">
                        <fa-icon [icon]="faStar"></fa-icon>
                        <fa-icon [icon]="faStar"></fa-icon>
                        <fa-icon [icon]="faStar"></fa-icon>
                        <fa-icon [icon]="faStar"></fa-icon>
                        <fa-icon [icon]="faStarHalfAlt"></fa-icon>
                    </div>
                </a>
                <a href="#" class="total-rating">
                    1k+ ratings
                </a>
                <a href="#" class="total-sold">
                    1k+ sold
                </a>
                <div class="spacer"></div>
                <a href="#" class="report">
                    Report
                </a>
            </div>
            <div class="product-price d-flex align-items-center">
                <div class="origin-price">$323 - $364</div>
                <div class="discounted-price">$293 - $269</div>
                <div class="discount-rate">26% discounted</div>
            </div>
            <div class="product-info">
                <div class="product-color">
                    <div class="label">Color</div>
                    <div class="color-container">
                        @for (image of images; track $index) {

                            <button>
                                <img [src]="image" alt="Product Color">
                                {{ 'Color ' + $index }}
                            </button>

                        }
                    </div>
                </div>
                <div class="product-type">
                    <div class="label">Size</div>
                    <div class="type-buttons">
                        @for (i of [1, 2, 3, 4, 5, 6, 7, 8]; track $index) {

                            <button>{{ 35 + i }}</button>

                        }
                    </div>
                </div>
                <div class="product-quantity">
                    <div class="label">Quantity</div>
                    <div class="quantity-button">
                        <button>-</button>
                        <input type="text"
                               class="quantity-input"
                               value="1">
                        <button>+</button>
                    </div>
                </div>
            </div>
            <div class="product-actions">
                <button class="btn btn-outline-primary to-cart">Add to Cart</button>
                <button class="btn btn-primary buy-now">Buy Now</button>
            </div>
        </div>
    </div>
</div>