.product-page {
  padding: 1rem;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product-thumbnails {
  display: flex;
  overflow-x: auto;

  & .img-thumbnail {
    max-width: 25%;
  }

  & .active,
  & .img-thumbnail:hover {
    border-color: var(--light-primary-brand);
  }
}

.product-title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 1.2;
}

.product-rating {
  display: flex;
  gap: .5rem;
  font-size: 1.25rem;
}

.product-price {
  padding: 1rem 0;
  background-color: var(--light-gray);

  & .badge {
    background-color: var(--light-primary-brand);
  }
}

.add-to-cart-btn,
.add-to-cart-btn:hover {
  border-color: var(--light-primary-brand);
  color: var(--light-primary-brand);
}

.add-to-cart-btn:focus-within,
.add-to-cart-btn:hover,
.buy-now-btn {
  border-color: var(--light-primary-brand);
  background-color: var(--light-primary-brand);
  color: var(--white);
  box-shadow: none;
  transition: transform .3s;
}

.buy-now-btn:active {
  border-color: var(--light-primary-brand);
  transform: scale(.9);
  background-color: var(--light-primary-brand);
}