<main class="container-fluid my-5">
  <div class="card border-0 shadow">
    <div class="card-header bg-purple bg-gradient d-flex justify-content-between align-items-center py-3">
      <h2 class="mb-0 text-white">{{ "CATEGORIES"|translate }}</h2>
    </div>

    <div class="card-footer border-0 d-flex align-items-center justify-content-between">
      <ng-container *ngTemplateOutlet="controls"></ng-container>
      <ng-container *ngTemplateOutlet="pagination"></ng-container>
    </div>

    <div class="card-body">
      @if (loading) {
        <app-table-skeleton [colCount]="5" [rowCount]="10"/>
      } @else {
        <div class="table-responsive">
          <table class="table table-hover align-middle">
            <thead>
            <tr>
              <th>
                <input id="selectAll"
                       type="checkbox"
                       class="form-check-input custom-checkbox"
                       (change)="onSelectAll($event)"/>
              </th>
              <th style="width: 5%">ID</th>
              <th style="width: 40%"
                  appSortable
                  [sortField]="sortableFields.NAME"
                  (sortChange)="onSortChange($event)">
                {{ "NAME"|translate }}
              </th>
              <th style="width: 40%"
                  appSortable
                  [sortField]="sortableFields.SLUG"
                  (sortChange)="onSortChange($event)">
                {{ "SLUG"|translate }}
              </th>
              <th style="width: 15%"
                  appSortable
                  [sortField]="sortableFields.CREATED_AT"
                  (sortChange)="onSortChange($event)">
                {{ "CREATED_AT"|translate }}
              </th>
            </tr>
            </thead>
            <tbody>
              @for (category of categories?.items; track $index) {
                <tr>
                  <td>
                    <input [id]="category.id"
                           type="checkbox"
                           class="form-check-input custom-checkbox"
                           (change)="onSelect()"/>
                  </td>
                  <td>{{ category.id }}</td>
                  <td>
                    <a [routerLink]="['.', category.slug]"
                       class="user-link text-decoration-none fw-bold">
                      {{ category.name }}
                    </a>
                  </td>
                  <td>{{ category.slug }}</td>
                  <td>{{ category.createdAt | date : "HH:mm dd/MM/yyyy" }}</td>
                </tr>
              }
            </tbody>
          </table>
        </div>
      }
    </div>

    <div class="card-footer border-0 d-flex justify-content-end">
      <ng-container *ngTemplateOutlet="pagination"></ng-container>
    </div>
  </div>
</main>
<ng-template #controls>
  <app-list-controls (refreshButtonClick)="onRefreshButtonClick()"
                     (deleteButtonClick)="onDeleteSelected()">
  </app-list-controls>
</ng-template>
<ng-template #pagination>
  <app-pagination [pageRequest]="pageRequest"
                  [items]="categories"
                  [loading]="loading"
                  (pageChange)="onPageChange($event)"
                  (pageSizeChange)="onPageSizeChange($event)">
  </app-pagination>
</ng-template>
