.product-list {
  background: var(--gray-contrast);
}

.card {
  border-color: var(--gray-3);
  overflow: hidden;
  transition: all 0.3s ease;
  height: 24rem;

  .rating {
    font-size: 0.8rem;
    color: var(--purple-9);
  }

  .saved-price {
    color: var(--purple-9);
  }

  &:hover {
    border: 1px solid var(--purple-9);
    box-shadow: 0 .25rem 0.5rem 0.2rem var(--gray-3);
    transform: translateY(-5%);

    .product-hero {
      transition: all 0.3s ease-in-out;
      transform: scale(1.05);
    }
  }
}

.truncate-multiline {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  line-height: 1.5em;
  max-height: calc(1.5em * 1);
}
