<div class="d-flex flex-column flex-md-row">
  <button routerLink="new"
          class="control-btn btn btn-sm rounded-pill px-3 me-2">
    <i class="bi bi-plus-lg me-1"></i><span>{{ "NEW" | translate }}</span>
  </button>
  <button class="control-btn btn btn-sm rounded-pill px-3 me-2"
          (click)="onRefreshButtonClick()">
    <i class="bi bi-arrow-clockwise me-1"></i><span>{{ "REFRESH"|translate }}</span>
  </button>
  <button class="control-btn btn btn-sm rounded-pill px-3 me-2"
          (click)="onDeleteButtonClick()">
    <i class="bi bi-trash me-1"></i><span>{{ "DELETE"|translate }}</span>
  </button>
</div>
