<div class="card">
    <div class="skeleton skeleton-img"></div>
    <div class="card-body">
        <div class="skeleton skeleton-text skeleton-name"></div>

        <div class="price">
            <div class="skeleton skeleton-text skeleton-small"></div>
            <div class="skeleton skeleton-text skeleton-price"></div>
        </div>

        <div class="d-flex skeleton-stars">
            <div class="skeleton skeleton-star"></div>
            <div class="skeleton skeleton-star"></div>
            <div class="skeleton skeleton-star"></div>
            <div class="skeleton skeleton-star"></div>
            <div class="skeleton skeleton-star"></div>
        </div>
    </div>
</div>
