<main class="container my-5">
  <div class="card border-0 shadow">
    <div class="card-header bg-purple bg-gradient d-flex justify-content-between align-items-center py-3">
      <h2 class="mb-0 text-white">
        {{ product?.name || ("NEW_PRODUCT"|translate) }}
      </h2>
    </div>
    <div class="card-footer">
      <ul class="nav nav-underline" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active"
                  id="general-tab"
                  data-bs-toggle="tab"
                  data-bs-target="#general"
                  type="button"
                  role="tab"
                  aria-controls="general"
                  aria-selected="true">
            {{ "GENERAL"|translate }}
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link"
                  id="details-tab"
                  data-bs-toggle="tab"
                  data-bs-target="#details"
                  type="button"
                  role="tab"
                  aria-controls="details"
                  aria-selected="false">
            {{ "DETAILS"|translate }}
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link"
                  id="images-tab"
                  data-bs-toggle="tab"
                  data-bs-target="#images"
                  type="button"
                  role="tab"
                  aria-controls="images"
                  aria-selected="false">
            {{ "IMAGES"|translate }}
          </button>
        </li>
      </ul>
    </div>

    <div class="card-body">
      <form [formGroup]="productForm">
        <div class="tab-content">

          <!-- General section -->
          <div class="tab-pane fade show active"
               id="general"
               role="tabpanel"
               aria-labelledby="general-tab">
            <div class="row g-3">
              <div class="col">
                <div class="row g-3 align-items-center mt-1">
                  <div class="col-3">
                    <label for="name" class="col-form-label">{{ "NAME"|translate }}</label>
                  </div>
                  <div class="col">
                    <input [class.invalid-input]="isInvalid('name')"
                           formControlName="name"
                           type="text"
                           id="name"
                           class="form-control"
                           placeholder="Product name"/>
                  </div>
                </div>

                <div class="row g-3 align-items-center my-1">
                  <div class="col-3">
                    <label for="slug" class="col-form-label">{{ "SLUG"|translate }}</label>
                  </div>
                  <div class="col d-flex gap-2">
                    <input [class.invalid-input]="isInvalid('slug')"
                           formControlName="slug"
                           type="text"
                           id="slug"
                           class="form-control"
                           placeholder="product-slug"/>
                    <button class="btn"
                            title="Generate slug"
                            (click)="generateSlug()">
                      <i class="bi bi-repeat"></i>
                    </button>
                  </div>
                </div>

                <div class="row g-3 align-items-center my-1">
                  <div class="col-3">
                    <label for="basePrice" class="col-form-label">{{ "BASE_PRICE"|translate }}</label>
                  </div>
                  <div class="col-3">
                    <input [class.invalid-input]="isInvalid('basePrice')"
                           formControlName="basePrice"
                           type="text"
                           mask="separator.2"
                           thousandSeparator=","
                           decimalMarker="."
                           prefix="VND "
                           id="basePrice"
                           class="form-control"
                           placeholder="10,000,000.00"/>
                  </div>
                </div>

                <div class="row g-3 align-items-center my-1">
                  <div class="col-3">
                    <label for="stock" class="col-form-label">{{ "STOCK"|translate }}</label>
                  </div>
                  <div class="col-3">
                    <input [class.invalid-input]="isInvalid('stockQuantity')"
                           formControlName="stockQuantity"
                           type="number"
                           id="stock"
                           class="form-control"
                           placeholder="product-slug"/>
                  </div>
                </div>

                <div class="row g-3 align-items-center my-1">
                  <div class="col-3">
                    <label for="active" class="col-form-label">{{ "STATUS"|translate }}</label>
                  </div>
                  <div class="col">
                    <div class="form-check form-switch">
                      <input formControlName="active"
                             class="form-check-input custom-checkbox"
                             type="checkbox"
                             role="switch"
                             aria-checked="true"
                             id="active"/>
                      <label for="active">
                        {{ productForm.get('active')?.value ? ("ON_SALE"|translate) : ("ON_STOCK"|translate) }}
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="row g-3 align-items-center mt-1">
                  <div class="col-3">
                    <label for="category" class="col-form-label">{{ "CATEGORY"|translate }}</label>
                  </div>
                  <div class="col-auto">
                    <select id="category"
                            class="form-select"
                            formControlName="category">
                      <option value="" disabled selected>
                        {{ "CHOOSE_CATEGORY"|translate }}
                      </option>
                      @for (category of (categories$|async)?.items; track $index) {
                        <option [value]="category.slug">
                          {{ category.name }}
                        </option>
                      }
                    </select>
                  </div>
                </div>

                <div class="row g-3 align-items-center mt-1">
                  <div class="col-3">
                    <label for="model" class="col-form-label">{{ "MODEL"|translate }}</label>
                  </div>
                  <div class="col-auto">
                    <select id="model" class="form-select" formControlName="model">
                      <option value="" disabled selected>
                        {{ "CHOOSE_MODEL"|translate }}
                      </option>
                      @for (model of (models$|async)?.items; track $index) {
                        <option [value]="model.slug">
                          {{ model.name }}
                        </option>
                      }
                    </select>
                  </div>
                </div>

                <div class="row g-3 align-items-center mt-1">
                  <div class="col-3">
                    <label for="salePrice" class="col-form-label">{{ "SALE_PRICE"|translate }}</label>
                  </div>
                  <div class="col-3">
                    <input [class.invalid-input]="isInvalid('salePrice')"
                           formControlName="salePrice"
                           type="text"
                           mask="separator.2"
                           thousandSeparator=","
                           decimalMarker="."
                           prefix="VND "
                           id="salePrice"
                           class="form-control"
                           placeholder="7,000,000.00"/>
                  </div>
                </div>
              </div>
            </div>

            <div class="row g-3 mt-1">
              <div class="col-3">
                <label for="description" class="col-form-label">{{ "DESCRIPTION"|translate }}</label>
              </div>
              <div class="col">
                <div id="description" class="NgxEditor__Wrapper">
                  <ngx-editor-menu [editor]="editor" [toolbar]="toolbar"></ngx-editor-menu>
                  <ngx-editor formControlName="description"
                              [editor]="editor"
                              [placeholder]="'Type here...'">
                  </ngx-editor>
                </div>
              </div>
            </div>
          </div>

          <!-- Details section -->
          <div class="tab-pane fade"
               id="details"
               role="tabpanel"
               aria-labelledby="details-tab">
            <div class="row g-3">
              <div class="col">
                <div class="row g-3 align-items-center mt-1">
                  <div class="col-3">
                    <label for="processor" class="col-form-label">{{ "PROCESSOR"|translate }}</label>
                  </div>
                  <div class="col">
                    <input [class.invalid-input]="isInvalid('processor')"
                           formControlName="processor"
                           type="text"
                           id="processor"
                           class="form-control"
                           placeholder="Intel Core i3"/>
                  </div>
                </div>
                <div class="row g-3 align-items-center mt-1">
                  <div class="col-3">
                    <label for="gpu" class="col-form-label">{{ "GPU"|translate }}</label>
                  </div>
                  <div class="col">
                    <input [class.invalid-input]="isInvalid('gpu')"
                           formControlName="gpu"
                           type="text"
                           id="gpu"
                           class="form-control"
                           placeholder="RTX3050"/>
                  </div>
                </div>
                <div class="row g-3 align-items-center mt-1">
                  <div class="col-3">
                    <label for="screenSize" class="col-form-label">{{ "SCREEN_SIZE"|translate }} (inches)</label>
                  </div>
                  <div class="col-auto">
                    <input [class.invalid-input]="isInvalid('screenSize')"
                           formControlName="screenSize"
                           type="number"
                           id="screenSize"
                           class="form-control"
                           placeholder="15.6"/>
                  </div>
                </div>
                <div class="row g-3 align-items-center mt-1">
                  <div class="col-3">
                    <label for="os" class="col-form-label">{{ "OS"|translate }}</label>
                  </div>
                  <div class="col-auto">
                    <select id="os" class="form-select" formControlName="os">
                      <option value="" selected disabled>{{ "CHOOSE_OS"|translate }}</option>
                      <option value="WINDOW11">
                        Windows 11
                      </option>
                      <option value="MACOS">
                        Mac OS
                      </option>
                    </select>
                  </div>
                </div>
                <div class="row g-3 align-items-center mt-1">
                  <div class="col-3">
                    <label for="color" class="col-form-label">{{ "COLOR"|translate }}</label>
                  </div>
                  <div class="col-auto">
                    <select id="color" class="form-select" formControlName="color">
                      <option value="" disabled selected>
                        {{ "CHOOSE_COLOR"|translate }}
                      </option>
                      <option value="SILVER">
                        {{ "SILVER"|translate }}
                      </option>
                      <option value="BLACK">
                        {{ "BLACK"|translate }}
                      </option>
                      <option value="WHITE">
                        {{ "WHITE"|translate }}
                      </option>
                    </select>
                  </div>
                </div>
                <div class="row g-3 align-items-center mt-1">
                  <div class="col-3">
                    <label for="warranty" class="col-form-label">{{ "WARRANTY"|translate }} ({{ "YEARS"|translate }}
                      )</label>
                  </div>
                  <div class="col-3">
                    <input [class.invalid-input]="isInvalid('warranty')"
                           formControlName="warranty"
                           type="number"
                           id="warranty"
                           class="form-control"
                           placeholder="1.5"/>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="row g-3 align-items-center mt-1">
                  <div class="col-3">
                    <label for="ram" class="col-form-label">RAM (GB)</label>
                  </div>
                  <div class="col-auto">
                    <input [class.invalid-input]="isInvalid('ram')"
                           formControlName="ram"
                           type="number"
                           id="ram"
                           class="form-control"
                           placeholder="16"/>
                  </div>
                </div>
                <div class="row g-3 align-items-center mt-1">
                  <div class="col-3">
                    <label for="storageType" class="col-form-label">{{ "STORAGE_TYPE" }}</label>
                  </div>
                  <div class="col-auto">
                    <select id="storageType" class="form-select" formControlName="storageType">
                      <option value="" disabled selected>{{ "CHOOSE_STORAGE_TYPE"|translate }}</option>
                      <option value="HDD">HDD</option>
                      <option value="SSD">SSD</option>
                    </select>
                  </div>
                </div>
                <div class="row g-3 align-items-center mt-1">
                  <div class="col-3">
                    <label for="storageCapacity"
                           class="col-form-label">
                      {{ "STORAGE"|translate }} (GB)
                    </label>
                  </div>
                  <div class="col-auto">
                    <input [class.invalid-input]="isInvalid('storageCapacity')"
                           formControlName="storageCapacity"
                           type="number"
                           id="storageCapacity"
                           class="form-control"
                           placeholder="500"/>
                  </div>
                </div>
                <div class="row g-3 align-items-center mt-1">
                  <div class="col-3">
                    <label for="batteryCapacity"
                           class="col-form-label">
                      {{ "CAPACITY"|translate }} (Wh)
                    </label>
                  </div>
                  <div class="col-auto">
                    <input [class.invalid-input]="isInvalid('batteryCapacity')"
                           formControlName="batteryCapacity"
                           type="number"
                           id="batteryCapacity"
                           class="form-control"
                           placeholder="42"/>
                  </div>
                </div>
                <div class="row g-3 align-items-center mt-1">
                  <div class="col-3">
                    <label for="weight"
                           class="col-form-label">
                      {{ "WEIGHT"|translate }} (Kg)
                    </label>
                  </div>
                  <div class="col-auto">
                    <input [class.invalid-input]="isInvalid('weight')"
                           formControlName="weight"
                           type="number"
                           id="weight"
                           class="form-control"
                           placeholder="1.8"/>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Images section -->
          <div class="tab-pane fade"
               id="images"
               role="tabpanel"
               aria-labelledby="images-tab">

            <div class="mb-4">
              <h4 class="text-muted fw-light">
                <i class="bi bi-star"></i> {{ "FEATURED"|translate }}
              </h4>
              <div class="hero-image mb-3">
                <img id="heroImage"
                     [src]="heroImageUrl"
                     class="img-fluid rounded mx-auto"
                     alt="Current Hero Image">
              </div>
            </div>

            <div class="mb-4">
              <h4 class="text-muted fw-light">{{ "ALL"|translate }}</h4>
              <div class="d-flex gap-3"
                   id="productThumbnails">
                <!--                @for (imageId of imageUrls.keys(); track imageId) {-->
                <!--                  <img [src]="imageUrls.get(imageId)"-->
                <!--                       [id]="imageId"-->
                <!--                       class="img-thumbnail"-->
                <!--                       alt="Product Image"-->
                <!--                       (contextmenu)="showContextMenu($event, imageId)">-->
                <!--                }-->
                @for (image of productImages$|async; track image.imageId) {
                  <img [src]="createImageUrl(image.imageId)"
                       [id]="image.imageId"
                       class="img-thumbnail"
                       alt="Product Image"
                       (contextmenu)="showContextMenu($event, image.imageId)">
                }
              </div>
            </div>

            <div class="d-flex gap-3 justify-content-center align-items-center">
              <input type="file"
                     class="d-none"
                     id="image"
                     accept="image/jpeg, image/png"
                     (change)="onUploadImageButtonClick($event)"/>
              <label for="image"
                     style="cursor: pointer">
                <i class="bi bi-upload me-2"></i>{{ "UPLOAD_NEW"|translate }}
              </label>

              <!--              <span class="text-muted fw-light">- {{ "OR"|translate }} -</span>-->
              <!--              <button class="btn"-->
              <!--                      data-bs-toggle="modal"-->
              <!--                      data-bs-target="#uploadedImageChooser"-->
              <!--                      (click)="onChooseFromUploadedClick()">-->
              <!--                <i class="bi bi-images me-2"></i>{{ "CHOOSE_FROM_UPLOADED"|translate }}-->
              <!--              </button>-->

            </div>

          </div>
        </div>
      </form>
    </div>
    <div
      class="card-footer bg-body-tertiary border-0 controls-bar d-flex justify-content-between align-items-center sticky-bottom">
      <button routerLink=".." class="btn return-btn border-0 fs-5">
        <i class="bi bi-arrow-return-left me-3"></i>
        <span>{{ "BACK"|translate }}</span>
      </button>

      <button [disabled]="!productForm.valid"
              class="btn save-btn border-0 fs-5 fw-bold"
              (click)="onSaveButtonClick()">
        <i class="bi bi-floppy me-3"></i>
        <span>{{ "SAVE"|translate }}</span>
      </button>
    </div>
  </div>
</main>

<app-context-menu #contextMenu [imageId]="selectedImageId"
                  (imageSetFeatured)="onImageSetFeatured($event)"
                  (imageRemove)="onImageRemove($event)">
</app-context-menu>
