<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col mb-4">
                <h5>CUSTOMER SERVICE</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-muted">Help Centre</a></li>
                    <li><a href="#" class="text-muted">How To Buy</a></li>
                    <li><a href="#" class="text-muted">How To Sell</a></li>
                    <li><a href="#" class="text-muted">Payment Methods</a></li>
                    <li><a href="#" class="text-muted">Shopbee Coins</a></li>
                    <li><a href="#" class="text-muted">Shopbee Guarantee</a></li>
                    <li><a href="#" class="text-muted">Return & Refund</a></li>
                    <li><a href="#" class="text-muted">Shopbee Mall Return & Refund</a></li>
                    <li><a href="#" class="text-muted">Contact Us</a></li>
                </ul>
            </div>
            <div class="col mb-4">
                <h5>ABOUT SHOPBEE</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-muted">About Us</a></li>
                    <li><a href="#" class="text-muted">Shopbee Careers</a></li>
                    <li><a href="#" class="text-muted">Shopbee Policies</a></li>
                    <li><a href="#" class="text-muted">Privacy Policy</a></li>
                    <li><a href="#" class="text-muted">Shopbee Blog</a></li>
                    <li><a href="#" class="text-muted">Shopbee Mall</a></li>
                    <li><a href="#" class="text-muted">Seller Centre</a></li>
                    <li><a href="#" class="text-muted">Shopbee Seller Mentors</a></li>
                    <li><a href="#" class="text-muted">Flash Deals</a></li>
                    <li><a href="#" class="text-muted">Media Contact</a></li>
                    <li><a href="#" class="text-muted">Shopbee Ambassador Programme</a></li>
                </ul>
            </div>
            <div class="col mb-4">
                <div class="mb-4">
                    <h5>PAYMENT</h5>
                    <div class="d-flex justify-content-start">
                        <img src="/images/visa.jpg" alt="Payment Methods" class="me-2" style="max-width: 50px;">
                        <img src="/images/mastercard.jpg" alt="Payment Methods" class="me-2"
                             style="max-width: 50px;">
                        <img src="/images/americanexpress.png" alt="Payment Methods" class="me-2"
                             style="max-width: 50px;">
                        <img src="/images/jcb.png" alt="Payment Methods" style="max-width: 50px;">
                    </div>
                </div>
                <div>
                    <h5>LOGISTICS</h5>
                    <div class="d-flex justify-content-start">
                        <img src="/images/vietnampost.png" alt="Logistics" class="me-2" style="max-width: 50px;">
                        <img src="/images/viettelpost.png" alt="Logistics" class="me-2" style="max-width: 50px;">
                        <img src="/images/ninjavan.png" alt="Logistics" class="me-2" style="max-width: 50px;">
                        <img src="/images/ahamove.png" alt="Logistics" style="max-width: 50px;">
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <h5>FOLLOW US</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-muted">Facebook</a></li>
                    <li><a href="#" class="text-muted">Instagram</a></li>
                    <li><a href="#" class="text-muted">LinkedIn</a></li>
                </ul>
            </div>
            <div class="col mb-4">
                <h5>SHOPBEE APP DOWNLOAD</h5>
                <div class="d-flex gap-3">
                    <img src="/images/qr.png" alt="" style="max-width: 50%">
                    <div class="d-flex flex-column">
                        <img src="/images/appstore.png"
                             alt="Download on the App Store"
                             class="mb-2"
                             style="max-width: 68px;">
                        <img src="/images/googleplay.png"
                             alt="Get it on Google Play"
                             class="mb-2"
                             style="max-width: 68px;">
                        <img src="/images/appgallery.png"
                             alt="Download on AppGallery"
                             style="max-width: 68px;">
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center text-muted mt-4">© 2024 Shopbee. All Rights Reserved.</div>
    </div>
</footer>