<div class="container my-3">
  <app-banner></app-banner>
  <div class="p-3">
    <div class="rounded-3 bg-white min-vh-100">

      <!-- Recommended for you-->
      <section class="p-3">
        <div class="p-3 bg-body-tertiary">
          <span class="fs-2 fw-light text-uppercase">{{ "FOR_YOU" | translate }}</span>
        </div>
        <app-recommended-products-list/>
      </section>

      <!-- Newest -->
      <section class="p-3">
        <div class="p-3 bg-body-tertiary">
          <span class="fs-2 fw-light text-uppercase">{{ "NEWEST" | translate }}</span>
        </div>
        <div class="row row-cols-5 mt-3">
          @if (latestProductsLoading) {
            @for (i of Array(10); track $index) {
              <div class="col mb-3">
                <app-card-loader/>
              </div>
            }
          } @else {
            @for (product of latestProducts; track $index) {
              <div class="col mb-3">
                <app-product-card [loading]="latestProductsLoading"
                                  [product]="product"
                                  [thumbnail]="imageUtil.createImageUrl(product.featuredImageId)"/>
              </div>
            }
          }
        </div>
      </section>

      <!-- Best seller -->
      <section class="p-3">
        <div class="p-3 bg-body-tertiary">
          <span class="fs-2 fw-light text-uppercase">{{ "BEST_SELLER" | translate }}</span>
        </div>
        <ng-container *ngTemplateOutlet="productList"></ng-container>
      </section>

      <!-- Popular -->
      <section class="p-3">
        <div class="p-3 bg-body-tertiary">
          <span class="fs-2 fw-light text-uppercase">{{ "POPULAR" | translate }}</span>
        </div>
        <div class="row row-cols-5 mt-3">
          @if (mostPopularProductsLoading) {
            @for (i of Array(10); track $index) {
              <div class="col mb-3">
                <app-card-loader/>
              </div>
            }
          } @else {
            @for (product of mostPopularProducts; track $index) {
              <div class="col mb-3">
                <app-product-card [loading]="mostPopularProductsLoading"
                                  [product]="product"
                                  [thumbnail]="imageUtil.createImageUrl(product.featuredImageId)"/>
              </div>
            }
          }
        </div>
      </section>
    </div>
  </div>

</div>

<ng-template #productList>
  <div class="row row-cols-5 mt-3">
    @for (product of productResponse?.items; track $index) {
      <div class="col mb-3">
        <app-product-card [loading]="loading"
                          [product]="product"
                          [thumbnail]="imageUtil.createImageUrl(product.featuredImageId)"/>
      </div>
    }
  </div>
</ng-template>
