<div class="container bg-white">
    <div class="w-100 p-3 mt-3">
        <div class="title p-3">
            <h2 class="fs-2 fw-light text-muted">{{ "FOR_YOU" | translate }}</h2>
        </div>
    </div>
    <div class="row">
        <app-product-list></app-product-list>
    </div>
    <div class="w-100 p-3 mt-3">
        <div class="title p-3">
            <h2 class="fs-2 fw-light text-muted">{{ "NEWEST" | translate }}</h2>
        </div>
    </div>
    <div class="row">
        <app-product-list></app-product-list>
    </div>
    <div class="w-100 p-3 mt-3">
        <div class="title p-3">
            <h2 class="fs-2 fw-light text-muted">{{ "BEST_SELLER" | translate }}</h2>
        </div>
    </div>
    <div class="row">
        <app-product-list></app-product-list>
    </div>
    <div class="w-100 p-3 mt-3">
        <div class="title p-3">
            <h2 class="fs-2 fw-light text-muted">{{ "POPULAR" | translate }}</h2>
        </div>
    </div>
    <div class="row">
        <app-product-list></app-product-list>
    </div>
</div>
