<div class="container">
    <div class="toolbar d-flex align-items-center">
        <div class="search-bar flex-grow-1">
            <input type="text"
                   [formControl]="keyword"
                   placeholder="Search user"
                   class="form-control search-form">
            <div class="search-btn d-flex justify-content-center align-items-center">
                <fa-icon class="search-icon" [icon]="faSearch"/>
            </div>
        </div>
        <div class="d-flex gap-1 px-1">
            <div class="dropdown">
                <button class="btn"
                        type="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false">
                    <span class="pe-4">{{ pageRequest$.value.page }} - 10</span>
                    <fa-icon [icon]="faAngleDown"/>
                </button>
                <ul class="dropdown-menu dropdown-menu-lg-end">
                    <li>
                        <button class="dropdown-item" href="#">10 per page</button>
                    </li>
                    <li>
                        <button class="dropdown-item" href="#">20 per page</button>
                    </li>
                    <li>
                        <button class="dropdown-item" href="#">50 per page</button>
                    </li>
                </ul>
            </div>
            <ng-container *ngIf="users$ | async as users">
                <a [class.disabled]="!users.data?.hasPrevious || users.loading" class="btn" (click)="onToPrevPage()">
                    <fa-icon [icon]="faPrev"/>
                </a>
                <a [class.disabled]="!users.data?.hasNext || users.loading" class="btn" (click)="onToNextPage()">
                    <fa-icon [icon]="faNext"/>
                </a>
            </ng-container>
        </div>
    </div>
    <div class="users-table">
        <table class="table table-responsive table-borderless table-striped table-hover align-middle">
            <thead>
            <tr>
                <th class="avatar-cell"></th>
                <th scope="col" class="username-cell">
                    <span appSortable [sortableColumn]="'username'" (changeSort)="onSort($event)">Username</span>
                </th>
                <th scope="col" class="email-cell">
                    <span appSortable [sortableColumn]="'email'" (changeSort)="onSort($event)">Email</span>
                </th>
                <th scope="col" class="name-cell">First Name</th>
                <th scope="col" class="name-cell">Last Name</th>
            </tr>
            </thead>
            <tbody>
                @if (users$ | async; as users) {
                    @if (!users || users.loading) {
                        @for (row of '1234567890'.split(''); track row) {
                            <tr>
                                <td>
                                    <p class="placeholder-glow">
                                        <span class="placeholder col-12 placeholder-lg"></span>
                                    </p>
                                </td>
                                @for (col of '1234'.split(''); track col) {
                                    <td>
                                        <p class="placeholder-glow">
                                            <span class="placeholder col-{{12 | randomColSize}} placeholder-lg"></span>
                                        </p>
                                    </td>
                                }
                            </tr>
                        }
                    } @else {
<!--                        @for (user of users.data.users; track user) {-->
<!--                            <tr>-->
<!--                                <td>-->
<!--                                    <img [src]="'https://ui-avatars.com/api/?name='+user.firstName"-->
<!--                                         class="avatar"-->
<!--                                         [alt]="user.firstName + ' ' + user.lastName + ' avatar'">-->
<!--                                </td>-->
<!--                                <td>{{ user?.username }}</td>-->
<!--                                <td>{{ user?.email }}</td>-->
<!--                                <td>-->
<!--                                    <input appEditable-->
<!--                                           type="text"-->
<!--                                           value="{{ user?.firstName }}">-->
<!--                                </td>-->
<!--                                <td>{{ user?.lastName }}</td>-->
<!--                            </tr>-->
<!--                        }-->
                        @for (user of data.data?.users; track user) {
                            <tr>
                                <td>
                                    <img [src]="'https://ui-avatars.com/api/?name='+user.firstName"
                                         class="avatar"
                                         [alt]="user.firstName + ' ' + user.lastName + ' avatar'">
                                </td>
                                <td>{{ user?.username }}</td>
                                <td>{{ user?.email }}</td>
                                <td>
                                    <input appEditable
                                           type="text"
                                           value="{{ user?.firstName }}">
                                </td>
                                <td>{{ user?.lastName }}</td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
    </div>
</div>