<div class="container-fluid my-5">

  <div class="card shadow-sm">
    <div class="card-header py-3">
      <span class="fs-2 fw-medium">{{ 'ORDER_MANAGEMENT' | translate }}</span>
    </div>

    <div class="card-header d-flex justify-content-end">
      <app-pagination [pageRequest]="{page:1, size:10}"
                      [items]="orderResponse"
                      (pageChange)="onPageChange($event)"
                      (pageSizeChange)="onPageSizeChange($event)">
      </app-pagination>
    </div>

    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-hover align-middle">
          <thead>
          <tr class="text-center">
            <th class="col-auto">
              <input id="select__all"
                     type="checkbox"
                     class="form-check-input custom-checkbox"
                     (change)="[]"/>
            </th>
            <th class="col-auto">#ID</th>
            <th class="col-md-2">{{ 'TOTAL_AMOUNT' | translate }}</th>
            <th class="col-md-1">{{ 'ORDER_STATUS' | translate }}</th>
            <th class="col-md-1">{{ 'PAYMENT_METHOD' | translate }}</th>
            <th class="col-md-2">{{ 'ORDER_DATE' | translate }}</th>
            <th class="col-md-2">{{ 'CUSTOMER' | translate }}</th>
            <th class="col-md-4">{{ 'SHIPPING_ADDRESS' | translate }}</th>
          </tr>
          </thead>
          <tbody>
            @if (loading) {
              @for (row of Array(10); track $index) {
                <tr>
                  @for (col of Array(8); track $index) {
                    <td>
                      <div class="skeleton-loader"></div>
                    </td>
                  }
                </tr>
              }
            } @else {

            }
          </tbody>
        </table>
      </div>
    </div>

    <div class="card-footer d-flex justify-content-end">
      <app-pagination [pageRequest]="{page:1, size:10}"
                      [items]="orderResponse"
                      (pageChange)="onPageChange($event)"
                      (pageSizeChange)="onPageSizeChange($event)">
      </app-pagination>
    </div>
  </div>

</div>
