.nav-link {
  color: var(--gray-8);
  font-size: 0.95rem;

  &.active {
    color: var(--purple-9);
    font-weight: 500;
  }

  &:hover {
    color: var(--purple-9);
  }
}

.avatar {
  width: 48px;
  height: 48px;
  overflow: hidden;
  border: 2px solid var(--gray-6);
}

.avatar-preview {
  width: 128px;
  height: 128px;
  overflow: hidden;
  border: 2px solid var(--gray-6);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile {
  border-right: 1px solid var(--gray-6);
  padding-right: 1rem;
}

.helper-text {
  text-align: center;
  font-size: 0.85rem;
}

.form-control {
  border-radius: 0;
  border: 0;
  border-bottom: 1px solid var(--gray-5);
  padding: 0.5rem;

  &:focus {
    box-shadow: none;
    border-bottom: 1px solid var(--purple-9);
  }

  &.ng-invalid.ng-dirty {
    border-color: var(--red-7);
    color: var(--red-7);
  }
}

.btn-primary {
  border-color: var(--purple-9);
  background: var(--purple-9);
  font-weight: 500;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: var(--purple-10);
  }
}

.gallery {
  height: 400px;
  overflow-y: auto;

  img {
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
    transition: transform 0.2s ease;

    &:hover {
      transform: scale(1.05);
      border: 1px solid var(--purple-9);
    }
  }
}

#orders {

  .active {
    background-color: var(--purple-3);
    border-color: var(--purple-9);
    color: var(--purple-10);
  }

  .bg-primary {
    background: var(--purple-9) !important;
  }

  .load-more-order-btn {
    padding: 1rem;
    border-radius: 0;
    color: var(--purple-9);
    border: 1px solid var(--purple-9);

    &:hover {
      background-color: var(--purple-3);
    }

    &:active {
      color: var(--purple-10);
      background-color: var(--purple-6);
    }
  }

  .list-group-item {
    border-radius: 0;

    &:hover {
      transform: scale(1.05);
      transition: all .3s ease;
    }

    .view-order-details-btn {
      color: var(--purple-9);
      font-size: 1.25rem;
    }

    .product-slug {
      text-decoration: none;
      color: var(--purple-9) !important;

      &:hover {
        color: var(--purple-10) !important;
      }
    }
  }

  .order-card {
    border: 1px solid var(--gray-3);
    border-radius: 8px;

    .card-body {
      padding: 1rem;
      background-color: var(--gray-1);

      .badge {
        font-size: 0.85rem;
        padding: 0.25em 0.5em;
      }

      .btn-link {
        font-size: 0.9rem;
        color: var(--primary-color);
      }

      hr {
        border-top: 1px solid var(--gray-2);
      }
    }
  }

  .card {
    border: 1px solid var(--gray-3);
    border-radius: 0;

    .card-header {
      border-top: 2px solid var(--purple-9);;
      border-radius: 0;
      color: var(--purple-9);
      font-weight: 500;

      .close-detail-btn {
        color: var(--purple-9);
      }
    }

    .order-summary {
      padding: 1rem;
      background-color: var(--gray-2);
      border-radius: 6px;
    }

    .order-items {
      .list-group-item {
        color: var(--purple-9);
        border: none;
        border-bottom: 1px solid var(--gray-2);
        padding: 0.75rem 1rem;

        &:last-child {
          border-bottom: none;
        }

      }
    }

    .btn {
      transition: all 0.2s;

      &.btn-outline-primary:hover {
        background-color: var(--primary-color);
        color: white;
      }

      &.btn-outline-secondary:hover {
        background-color: var(--gray-3);
        color: var(--secondary-color);
      }
    }
  }
}
