<div class="container position-relative">
  <div class="row mt-4 bg-white shadow-sm rounded">
    <nav class="col-md-3 col-lg-2 d-md-block p-3 bg-light border-end">
      <div class="position-sticky">
        <div class="d-flex align-items-center gap-3 text-center mb-4">
          <div class="avatar">
            <img [src]="avatarUrl"
                 alt="User Avatar"
                 class="img-fluid"
                 width="48"
                 height="48"/>
          </div>
          <h5 class="username">{{ username }}</h5>
        </div>
        <hr/>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" href="#profile" data-bs-toggle="tab">
              <i class="bi bi-person me-2"></i>{{ "PROFILE" | translate }}
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#change-password" data-bs-toggle="tab">
              <i class="bi bi-shield-lock me-2"></i>{{ "CHANGE_PASSWORD" | translate }}
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#orders" data-bs-toggle="tab" (click)="loadOrders()">
              <i class="bi bi-journals me-2"></i>{{ "ORDERS" | translate }}
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <main class="col-md-9 ms-sm-auto col-lg-10 px-4">
      <div class="tab-content p-3">

        <!-- Profile information section -->
        <div class="tab-pane fade show active" id="profile">
          <span class="fs-3 fw-lighter text-uppercase">{{ "PROFILE_INFORMATION" | translate }}</span>
          <hr/>
          <div class="row">
            <div class="profile col-md-8">
              <form [formGroup]="userForm" (ngSubmit)="onProfileFormSubmit()">
                <div class="mb-3 row">
                  <label for="username"
                         class="col-sm-4 col-form-label text-end">
                    {{ "USERNAME" | translate }}
                  </label>
                  <div class="col-sm-8">
                    <input formControlName="username"
                           type="text"
                           class="readonly form-control"
                           id="username"
                           [disabled]="true"/>
                  </div>
                </div>
                <div class="mb-3 row">
                  <label for="firstname"
                         class="col-sm-4 col-form-label text-end">
                    {{ "FIRST_NAME" | translate }}
                  </label>
                  <div class="col-sm-8">
                    <input formControlName="firstName"
                           type="text"
                           class="form-control"
                           id="firstname"
                           [placeholder]="'FIRST_NAME' | translate"/>
                  </div>
                </div>
                <div class="mb-3 row">
                  <label for="lastname"
                         class="col-sm-4 col-form-label text-end">
                    {{ "LAST_NAME" | translate }}
                  </label>
                  <div class="col-sm-8">
                    <input formControlName="lastName"
                           type="text"
                           class="form-control"
                           id="lastname"
                           [placeholder]="'LAST_NAME' | translate"/>
                  </div>
                </div>
                <div class="mb-3 row">
                  <label for="email" class="col-sm-4 col-form-label text-end">
                    {{ "EMAIL" | translate }}
                  </label>
                  <div class="col-sm-8">
                    <input formControlName="email"
                           type="email"
                           class="form-control"
                           id="email"
                           [placeholder]="'EMAIL'|translate"/>
                  </div>
                </div>
                <div class="mb-3 row">
                  <label for="phone" class="col-sm-4 col-form-label text-end">
                    {{ "PHONE_NUMBER" | translate }}
                  </label>
                  <div class="col-sm-8">
                    <input formControlName="phone"
                           type="text"
                           mask="000 000 0000"
                           prefix="(+84) "
                           class="form-control"
                           id="phone"
                           [placeholder]="'PHONE_NUMBER' | translate"/>
                  </div>
                </div>
                <div class="mb-3 row">
                  <label for="address" class="col-sm-4 col-form-label text-end">
                    {{ "ADDRESS" | translate }} ({{ "DEFAULT" | translate }})
                  </label>
                  <div class="col-sm-8">
                    <input formControlName="address"
                           type="text"
                           class="form-control"
                           id="address"
                           [placeholder]="'ADDRESS' | translate"
                           required/>
                  </div>
                </div>
                @for (i of [1, 2, 3, 4]; track i) {
                  <div class="mb-3 row">
                    <label [for]="'address'+i" class="col-sm-4 col-form-label text-end">
                      {{ "ADDRESS" | translate }} {{ i }}
                    </label>
                    <div class="col-sm-8">
                      <input [formControlName]="'address'+i"
                             type="text"
                             class="form-control"
                             [id]="'address'+i"
                             [placeholder]="('ADDRESS'|translate)+i"/>
                    </div>
                  </div>
                }
                <div class="mb-3 row">
                  <label for="gender" class="col-sm-4 col-form-label text-end">
                    {{ "GENDER" | translate }}
                  </label>
                  <div id="gender" class="col-sm-8 col-form-label">
                    <div class="form-check form-check-inline">
                      <input formControlName="gender"
                             class="form-check-input"
                             type="radio"
                             value="MALE"
                             id="male"/>
                      <label class="form-check-label"
                             for="male"> {{ "MALE" | translate }} </label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input formControlName="gender"
                             class="form-check-input"
                             type="radio"
                             id="female"
                             value="FEMALE"/>
                      <label class="form-check-label" for="female">
                        {{ "FEMALE" | translate }}
                      </label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input formControlName="gender"
                             class="form-check-input"
                             type="radio"
                             id="other"
                             value="UNKNOWN"/>
                      <label class="form-check-label" for="other">
                        {{ "OTHERS" | translate }}
                      </label>
                    </div>
                  </div>
                </div>
                <div class="mb-3 row">
                  <div class="col-sm-4"></div>
                  <div class="col-sm-8">
                    <button [disabled]="!isValidProfileForm || !dirtyProfileForm"
                            type="submit"
                            class="btn btn-primary">
                      {{ "SAVE" | translate }}
                    </button>
                  </div>
                </div>
              </form>
            </div>
            <div class="col-md-4">
              <div class="d-flex flex-column justify-content-center align-items-center">
                <input type="file"
                       class="d-none"
                       id="avatar"
                       accept="image/jpeg, image/png"
                       (change)="previewImage($event)"/>
                <label for="avatar"
                       class="text-center mb-3"
                       style="cursor: pointer">
                  <div class="avatar-preview rounded-circle">
                    <img id="avatar-preview"
                         [src]="avatarUrl"
                         alt="Avatar Preview"/>
                  </div>
                </label>
                <div class="helper-text text-muted fs-6">
                  <span>{{ "FILE_SIZE_LIMIT" | translate }}: 1MB. {{ "ACCEPTED_FORMAT" | translate }}: PNG, JPG.</span>
                </div>
              </div>
              <hr/>
              <div class="row">
                <div class="helper-text text-muted fs-6">
                  <span>{{ "OR_CHOOSE_FROM_UPLOADED" | translate }}.</span>
                </div>
                <div class="gallery row row-cols-md-2 g-2 overflow-auto"
                     (scroll)="onScrollGallery($event)">
                  @for (image of uploaded?.items; track $index) {
                    <div class="col">
                      <div class="card">
                        <img [src]="createImageUrl(image.id)"
                             class="card-img-top"
                             [alt]="image.altText"
                             (click)="setAvatar(image)">
                      </div>
                    </div>
                  }
                </div>
              </div>
            </div>
          </div>
        </div>

        <!--  Change Password Section  -->
        <div class="tab-pane fade" id="change-password">
          <span class="fs-3 fw-lighter text-uppercase">{{ "CHANGE_PASSWORD" | translate }}</span>
          <hr/>
          <div class="row">
            <div class="col-md-8">
              <form [formGroup]="passwordForm"
                    (ngSubmit)="onPasswordFormSubmit()">
                <div class="mb-3 row">
                  <label for="password"
                         class="col-sm-4 col-form-label text-end">
                    {{ "NEW_PASSWORD" | translate }}
                  </label>
                  <div class="col-sm-8">
                    <input formControlName="password"
                           type="password"
                           class="form-control"
                           id="password"
                           [placeholder]="'ENTER_NEW_PASSWORD' | translate"/>
                  </div>
                </div>
                <div class="mb-3 row">
                  <label for="re-password"
                         class="col-sm-4 col-form-label text-end">
                    {{ "CONFIRM_PASSWORD" | translate }}
                  </label>
                  <div class="col-sm-8">
                    <input [class.ng-invalid]="this.notMatchedPassword"
                           formControlName="rePassword"
                           type="password"
                           class="form-control"
                           id="re-password"
                           [placeholder]="'CONFIRM_NEW_PASSWORD' | translate"/>
                  </div>
                </div>
                <div class="mb-3 row">
                  <div class="col-sm-4"></div>
                  <div class="col-sm-8">
                    <button [disabled]="passwordForm.invalid || !passwordForm.dirty"
                            type="submit"
                            class="btn btn-primary">
                      {{ "SAVE" | translate }}
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>

        <!--  Orders Section  -->
        <div class="tab-pane fade" id="orders">
          <span class="fs-3 fw-lighter text-uppercase">{{ "YOUR_ORDERS" | translate }}</span>
          <hr/>
          @if (orders.length > 0) {
            <div class="row">

              <!-- Order List on the Left -->
              <div class="col-lg-4 col-md-5">
                <ul class="list-group mb-4">
                  @for (order of orders; track $index) {
                    <li class="list-group-item d-flex justify-content-between align-items-center"
                        [class.active]="selectedOrder === order"
                        (click)="viewOrderDetails(order)">
                      <div>
                        <h6 class="mb-1">#{{ order.id }}</h6>
                        <small class="text-muted me-2">{{ order.createdAt | date:"HH:mm dd-MM-yyyy" }}</small>
                      </div>
                      <span class="badge bg-primary mt-2">{{ order.orderStatus | translate }}</span>
                    </li>
                  }
                </ul>
              </div>

              <!-- Order Details on the Right -->
              @if (selectedOrder) {
                <div class="col-lg-8 col-md-7">
                  <div class="card shadow-sm">
                    <div class="card-header d-flex justify-content-between align-items-center">
                      <h6 class="fs-5 fw-light text-muted">
                        {{ "ORDER_SUMMARY" | translate }}  - #{{ selectedOrder.id }}
                      </h6>
                      <button class="btn close-detail-btn btn-sm" (click)="selectedOrder = null">
                        <i class="bi bi-x-lg"></i>
                      </button>
                    </div>

                    <div class="card-body">
                      <div class="row mb-3">
                        <div class="col-md-6">
                          <p class="mb-0">
                            <span class="fw-light text-muted">{{ "ORDER_DATE" | translate }}:</span>
                            {{ selectedOrder.createdAt | date:"HH:mm dd-MM-yyyy" }}
                          </p>
                        </div>
                        <div class="col-md-6">
                          <p class="mb-0">
                            <span class="fw-light text-muted">{{ "TOTAL_AMOUNT" | translate }}:</span>
                            {{ selectedOrder.totalAmount | currency: "VND" }}
                          </p>
                        </div>
                      </div>
                      <div class="row mb-3">
                        <div class="col-md-6">
                          <p class="mb-0">
                            <span class="fw-light text-muted">{{ "PAYMENT_METHOD" | translate }}:</span>
                            {{ selectedOrder.paymentMethod | translate }}
                          </p>
                        </div>
                        <div class="col-md-6">
                          <p class="mb-0 text-wrap">
                            <span class="fw-light text-muted">{{ "SHIPPING_ADDRESS" | translate }}:</span>
                            {{ selectedOrder.shippingAddress }}
                          </p>
                        </div>
                      </div>

                      <hr/>
                      <ul class="list-group">
                        @for (item of orderDetails.get(selectedOrder.id); track $index) {
                          <li class="list-group-item d-flex justify-content-between align-items-center">
                            <div>
                              <a [routerLink]="['/may-tinh-xach-tay', item.productSlug]"
                                 class="text-uppercase fw-bold text-muted product-slug">
                                {{ item.productSlug }}
                              </a>
                              <small class="text-muted d-block">{{ item.quantity }}
                                x {{ item.price | currency:"VND" }}</small>
                            </div>
                            <span>{{ item.quantity * item.price | currency:"VND" }}</span>
                          </li>
                        }

                      </ul>

                      <div class="d-flex justify-content-end mt-4">
                        @if (selectedOrder) {
                          @if (isAllowedToCancel(selectedOrder)) {
                            <button class="btn cancel-order-btn me-2"
                                    (click)="cancelOrder(selectedOrder)">
                              {{ "CANCEL_ORDER" | translate }}
                            </button>
                          }
                          @if (isAllowedToComplete(selectedOrder)) {
                            <button class="btn complete-order-btn me-2"
                                    (click)="completeOrder(selectedOrder)">
                              {{ "COMPLETE_ORDER" | translate }}
                            </button>
                          }
                          @if (selectedOrder.orderStatus === OrderStatus.COMPLETED) {
                            <button class="btn leave-review-btn me-2"
                                    data-bs-toggle="modal"
                                    data-bs-target="#reviewDialog"
                                    (click)="isReviewDialogOpened = true">
                              {{ "LEAVE_REVIEW" | translate }}
                            </button>
                          }
                        }
                      </div>
                    </div>
                  </div>
                </div>

              }
            </div>
          } @else {
            <div class="row text-center g-3">
              <span class="fs-3 fw-light text-muted text-uppercase">
                {{ 'NO_ORDERS' | translate }}
              </span>
              <div class="col">
                <button routerLink="/" class="btn shopping-now-btn btn-lg">
                  <i class="bi bi-cart me-2"></i><span>{{ 'SHOPPING_NOW' | translate }}</span>
                </button>
              </div>
            </div>
          }
          @if (orderResponse?.hasNext) {
            <div class="text-center">
              <button class="btn load-more-order-btn" (click)="loadOrders()">{{ 'Load more' | translate }}</button>
            </div>
          }
        </div>
      </div>
    </main>
  </div>
</div>

<!-- Review dialog -->
<div class="modal fade " id="reviewDialog" tabindex="-1" aria-labelledby="reviewDialogLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="reviewDialogLabel">{{ "LEAVE_YOUR_REVIEW" | translate }}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form [formGroup]="reviewForm">
        <div class="modal-body">
          <div class="star-rating">
            <input type="radio" formControlName="rating" id="star-1" class="d-none"/>
            <label for="star-1" class="star" (click)="onStarClick(1)">
              <i class="bi bi-star-fill" [class.active]="rating<=1"></i>
            </label>

            <input type="radio" formControlName="rating" id="star-2" class="d-none"/>
            <label for="star-2" class="star" (click)="onStarClick(2)">
              <i class="bi bi-star-fill" [class.active]="rating<=2"></i>
            </label>

            <input type="radio" formControlName="rating" id="star-3" class="d-none"/>
            <label for="star-3" class="star" (click)="onStarClick(3)">
              <i class="bi bi-star-fill" [class.active]="rating<=3"></i>
            </label>

            <input type="radio" formControlName="rating" id="star-4" class="d-none"/>
            <label for="star-4" class="star" (click)="onStarClick(4)">
              <i class="bi bi-star-fill" [class.active]="rating<=4"></i>
            </label>

            <input type="radio" formControlName="rating" id="star-5" class="d-none"/>
            <label for="star-5" class="star" (click)="onStarClick(5)">
              <i class="bi bi-star-fill" [class.active]="rating<=5"></i>
            </label>
          </div>
          <div class="mb-3">
            <label for="review">{{ 'YOUR_REVIEW' | translate }}</label>
            <textarea id="review" class="form-control" formControlName="text"></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary">{{ 'SUBMIT' | translate }}</button>
        </div>
      </form>
    </div>
  </div>
</div>
