.navbar {
  background: linear-gradient(var(--primary-brand) 0%, var(--light-primary-brand) 100%);
}

.navbar-brand,
.nav-link {
  color: var(--white);
  cursor: pointer;
  line-height: 3;
  background-color: transparent;
}

.navbar-brand {
  font-size: 1.85rem;
}

.offcanvas-title {
  display: flex;
  align-items: center;
  color: var(--white);
  font-size: 2.25rem;
  font-weight: 700;
}

.log-in, .sign-up {
  color: var(--white);
}

.vertical-line {
  margin: 0 .75rem;
  border-right: 1px solid var(--light-gray);
}

.user-btn {
  color: var(--white);
}

.avatar {
  display: inline-block;
  width: 30px;
}

.dropdown-item:hover,
.dropdown-item:active {
  background-color: var(--light-primary-brand);
  color: var(--white);
}

.badge {
  position: absolute;
  top: 0;
  left: 45px;
  transform: translateX(-50%);
  border: 2px solid var(--white);
  border-radius: 50rem;
  color: var(--primary-brand);
  background-color: var(--white);
}

.search-form {
  flex-grow: 1;
  border-radius: 5px;
}

.search-form:focus-within {
  outline: 2px solid var(--black);
}

.search-input {
  margin: .2rem;
  border: none;
  border-radius: 5px;
  line-height: 2;
}

.search-input:focus {
  box-shadow: none;
  outline: none;
}

.navbar-nav {
  align-items: center;
  gap: 1.5rem;
}

@media (max-width: 991px) {
  .sidebar {
    background: linear-gradient(to left, var(--primary-brand) 0%, var(--light-primary-brand) 100%);
  }
  .search-form {
    margin-bottom: 1rem;
  }
  .navbar-nav {
    align-items: start;
    gap: 1.5rem;
  }
}